
[type=reset], [type=submit], button, html [type=button]{
  -webkit-appearance: none;
}
// button
.btn {
  min-width:120px;
  padding:13px 20px;
  font-size:14px;
  font-weight:500;
  float:none;
  line-height:1;
  border-radius:48px;
  &:active, &.active {box-shadow: none;}
  &.wd-full, &.btn-block {width:100%;}
  &.sm {min-width:80px;padding:10px 16px;font-size:12px;}
  &.lg, &.big{min-width:160px;padding:15px 40px;font-size:16px;}
  &[disabled], &.disabled {opacity:0.2;cursor: default;}
  &.primary {
    color:#fff;
    background-color:#ff4d4d;
    &:hover {background-color:#ff6464;}
    &:active, &.active {background-color:#d42b2b;}
  }
  &.grey {
    color: #373749;
    background-color: #f4f5f6;
    &:hover,&:active, &.active{background-color:#c9cad5;}
    &[disabled], &.disabled {
      opacity: 1;
      color:rgba(87,87,109,0.2);
      &:hover {background-color:#f4f5f6;}
    }
  }
  &.navi {
    color:#fff;
    background-color:#1d1d4c;
    &:hover {background-color:#57576d;}
    &:active, &.active {background-color:#0f0f15;}
    &[disabled]:hover, &.disabled:hover {
      background-color:#1d1d4c;
    }
  }

  &.outline {
    color:#57576d;
    border:1px solid #c9cad5;
    background-color:#fff;
    &:hover {border-color:#57576d;}
    &:active, &.active {background-color:#f4f5f6; border-color:#c9cad5;}
    &[disabled], &.disabled {
      opacity: 1;
      color:rgba(87,87,109,0.2);
      &:hover, &:active, &.active {border-color:#c9cad5;}
    }
    &.fill {
      color:#373749;
      background-color:#f4f5f6;
      &:hover {background-color:rgba(201,202,213,0.5);border-color:#c9cad5;}
      &:active, &.active {background-color:#c9cad5;}
      &[disabled], &.disabled {
        color:rgba(55,55,73,0.2);
        &:hover, &:active, &.active {background-color:#f4f5f6;}
      }
    }
  }

  &.ico-btn {
    position:relative;
    min-width:122px;
    padding:12px 20px;
    border:1px solid #c9cad5;
    color:#57576d;

    .icon {
      position:absolute;
      display:inline-block;
      width:18px;
      height:18px;
      top:50%;
      transform:translateY(-50%);
      background-repeat: no-repeat;
      background-position:center;
      background-size:110%;

      &.heart {background-image:url(../../assets/images/heart-off.svg);}
      &.arrow {background-image:url(../../assets/images/arrow-down.svg);}
    }

    &.ico-right {
      padding-right:44px;
      .icon {right:14px;}
    }

    &.ico-left {
      padding-left:44px;
      .icon {left:20px;}
    }

    &.sm {
      min-width:80px;
      padding:10px 0 10px 17px;

      &.ico-left {
        padding-left:40px;
        padding-right:16px; // ksj
      }
      &.ico-right {padding-right:40px;}
    }

    &.navi {
      background-color:#1d1d4c;
      color:#fff;
    }

    &:hover {border-color:#57576d;}

    &:active, &.active {
      border-color:#c9cad5;
      .icon.heart {background-image:url(../../assets/images/heart.svg);}
    }
    &[disabled], &.disabled {opacity:0.5;}
  }

  &.only-ico-btn {
    min-width:32px;
    height:32px;
    border-radius:50%;
    padding:0;
    background-repeat: no-repeat;

    &.sm {min-width:24px;height:24px;}

    &.heart {
      background-image:url(../../assets/images/btn-round-heart-off.svg);

      &:active, &.active {background-image:url(../../assets/images/btn-round-heart.svg)}
    }

    &.camera {background:#1d1d4c url(../../assets/images/camera.svg) no-repeat center;}
    &.prev {background-image:url(../../assets/images/btn-round-prev.svg);}
    &.next {background-image:url(../../assets/images/btn-round-next.svg);}
    &.bookmark {
      background-image:url(../../assets/images/bookmark-outline.svg);
      &:active, &.active {background-image:url(../../assets/images/bookmark.svg);}
    }
  }

  &.form-btn {
    min-width:24px;
    height:24px;
    padding:0;

    &.form-delete {background:url(../../assets/images/delete.svg) no-repeat;}
    &.form-time {background:url(../../assets/images/time-outline.svg) no-repeat;}
    &.form-calendar {
      background:url(../../assets/images/calendar-outline.svg) no-repeat;
      &.active, &:active {background:url(../../assets/images/calendar.svg) no-repeat;}
    }
  }
}

// text button
.txt-btn {
  font-weight:500;
  vertical-align: middle;
  color:#0f0f15;
  &.ft-14{font-size:14px;}
  &:hover {color:#57576d;}
  &:active {color:#0f0f15;}
  &:disabled, &.disabled {opacity: 0.2;}
}


// button group
.btn-group {
  display:block;

  .btn {
    + .btn {margin-left:6px;}
    &:first-child:not(:last-child):not(.dropdown-toggle),
    &:last-child:not(:first-child) {border-radius: 48px;}
  }
}



// list popup
.list-popup {
  position:relative;
  display:inline-block;

  .list-popup-btn {
    span {margin-right:4px;}
    .sm {width:18px;height:18px;}
  }

  .list-popup-menu {
    position:absolute;
    display:none;
    min-width:200px;
    top:auto;
    right:0;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(15, 15, 21, 0.05);
    background-color:#fff;
    z-index:1;

    &.active {display:block;}

    .list-popup-scroll {overflow-y: auto;}

    .list-popup-tit {padding:18px 20px;font-size:16px;font-weight: 500;}

    .list-popup-item {
      position:relative;
      display:block;
      padding:15px 20px;

      &:hover, &:active {background-color:#f4f5f6;}

      .list-popup-pic {
        position:absolute;
        display:block;
        width:32px;
        height:32px;
        top:50%;
        left:30px;
        transform:translateY(-50%);
      }
    }
    button.list-popup-item {
      width:100%;
      text-align: left;
    }

    &.pos-right {top:0;right:auto;left:0;}
  }
}
.add-schedule{
  @include pos-abs($right:-80px, $bottom:35%);
  &-btn {
    display:block;
    width:80px;
    height:80px;
    background:url(../../assets/images/add-btn.svg) no-repeat;
  }
}



