.home-main {
  padding-top:80px;

  .main-txt {
    padding-left:0;
  }
}

.notice {
  width:100%;
  margin-top:10px;

  .notice-cnt {
    display:inline-block;
    padding:6px 14px;
    font-size:12px;
    color:#57576d;
    background-color:#fff;
    border-radius:15px;

    .notice-tit {
      vertical-align: middle;
      strong {
        color:#0f0f15;
      }
      span {
        display:inline-block;
        margin:0 6px;
      }
    }
  }
}

.home-classes {
  position:relative;
  margin-top:-110px;
  //margin-bottom:432px;

  .list-align {
    @include pos-abs($right:0, $top:0);

    .form-select {
      padding: 10px 40px 10px 21px;
      border:0;
      font-size: 14px;
      font-weight:500;
      line-height: 1.45;
      background-color:#fff;
    }
  }

  .classes-card {
    margin-top:20px;

    .classes {
      display:flex;
      flex-flow: row wrap;
      justify-content:flex-start;

      .item {
        position:relative;
        width:240px;
        height:306px;
        padding: 40px 30px 20px 30px;
        margin-right:20px;
        margin-bottom:20px;
        border-radius: 5px;
        box-shadow: 0 0 10px 0 rgba(15, 15, 21, 0.05);
        background-color: #ffffff;

        &:nth-child(4n){margin-right:0;}

        .class-info {
          display:block;
          .info-img {
            width:80px;
            height:80px;
            margin:0 auto;
            text-align:center;
            span {
              display:inline-block;
              width:100%;
              height:100%;
              background-color:#ececec;
              border-radius:50%;
              overflow:hidden;
            }
            &.crown {
              position:relative;
              &:before {
                content:'';
                display:block;
                width:20px;
                height:20px;
                border-radius:50%;
                @include pos-abs($top:2px, $right:2px);
                background:#ffd100 url('../../assets/images/member-manager.svg') no-repeat center / 10px ;
              }
            }
          }

          .info-tit {
            margin-top:20px;
            text-align:center;
            p {font-size:16px;color:#0f0f15;font-weight:500;}
            span {font-size:14px;color:#848499;}
          }
        }

        .info-sub {
          margin-top:12px;
          text-align:center;
          font-size:12px;
          color:#848499;
          span {
            line-height:1.5;
            &:nth-child(2){
              position:relative;
              padding:0 14px;
              &:before, &:after {
                content:'';
                position:absolute;
                display:inline-block;
                width:2px;
                height:2px;
                top:50%;
                transform:translateY(-50%);
                background-color:#57576d;
                vertical-align: middle;
              }

              &:before {left:6px;}
              &:after {right:6px;}
            }
          }
        }

        .class-update {
          position:absolute;
          width:100%;
          left:0;
          bottom:20px;
          padding:0 20px 0 30px;

          .update {
            position:relative;
            float:left;
            padding:7px 0;
            color:#c9cad5;
            font-size:12px;

            &.active {
              padding-left:10px;
              color:#57576d;

              &:before {
                content:'';
                position:absolute;
                display:block;
                width:4px;
                height:4px;
                top:50%;
                left:0;
                transform:translateY(-50%);
                border-radius:50%;
                background-color:#ff4d4d;
              }
            }
          }
          button {float:right;}
        }

        &.new-classes {
          padding:84px 30px;
          text-align:center;
          p {
            padding-top:90px;
            font-size:16px;
            color:#c9cad5;
            background:url(../../assets/images/class.png) no-repeat center top;
          }
        }
      }
    }
  }
}

.class-photo {
  position: relative;
  display:inline-block;
  width:32px;
  height:32px;
  img{
    width:100%;
    height: 100%;
    overflow: hidden;
    border-radius:50%;
  }

  margin-right:10px;
  vertical-align: middle;

  &:before{
    content:'';
    @include pos-abs($bottom:0, $right:0);
    width:10px;
    height:10px;
    border:2px solid #fff;
    border-radius: 50%;
    overflow:hidden;
    background-color:#333;
  }
}
.color0:before{background-color:#8d2600}
.color1:before{background-color:#f9862a}
.color2:before{background-color:#f5b300}
.color3:before{background-color:#ffd100}
.color4:before{background-color:#d8d029}
.color5:before{background-color:#adc500}

.class-notify {
  margin-bottom:20px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(15, 15, 21, 0.05);
  background-color:#fff;

  .notify-top {padding:20px 0 20px 30px;}
  .notify-cnt {
    height:280px;
    overflow-y:auto;
    .notify-list {
      li {
        a {
          display:block;
          padding: 14px 30px;

          .class-name {
            display: inline-block;
            max-width:172px;
            color: #57576d;
            vertical-align: middle;
          }

          &.active {
            background-color: #f4f5f6;
            .class-name {font-weight: 500;color: #0f0f15;}
          }
        }
      }
    }
  }
}
.calendar{
  &--top-round{
    border-top-left-radius:5px;border-top-right-radius:5px;
  }
  &--btm-round{
    border-bottom-left-radius:5px; border-bottom-right-radius:5px;
  }
}
.class-calendar {
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(15, 15, 21, 0.05);
  background-color:#fff;
}

.classes-todo {
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(15, 15, 21, 0.05);
  background-color:#fff;

  .schedule-top {
    padding:20px 0 0 30px;
    .tit {
      font-size: 16px;
      font-weight: 500;
      color: #0f0f15;
    }
  }

  .schedule-cnt {
    .schedule-list {
      overflow-x: hidden;
      overflow-y: auto;
      height: 300px;
      li {
        position:relative;
        //padding:10px 30px 10px 80px;
        padding:10px 20px 10px 34px;

        + li {margin-top:10px;}
      }
      .date {
        /*position:absolute;
        top:10px;
        left:30px;*/
        font-weight:500;
        color:#57576d;
      }
      .detail-list {
        .item {
          position:relative;
          padding-left:14px;

          .bullet {
            position:absolute;
            display:inline-block;
            width:6px;
            height:6px;
            top:6px;
            left:0;
            border-radius:50%;

            &.orange {background-color:#f9862a;}
            &.green {background-color:#629f00;}
            &.ps-blue {background-color:#6d8fdf;}
            &.red {background-color:#ff4d4d;}
            &.sky-blue {background-color:#1cdbc9;}
            &.blue {background-color:#2183de;}
          }
          .schedule-tit {
            color: #0f0f15;
            font-size: 14px;
            font-weight:500;
          }

          .schedule-tit.none {
            padding-top: 60px;
            color: #b7c8d8;
            text-align: center;
          }
          .time {font-size:11px;line-height:1.69;color:#57576d;}
          + .item {margin-top:20px;}
        }
      }
    }
  }
}

.class-home {
  padding-bottom:10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(15, 15, 21, 0.05);
  background-color: #ffffff;
  .menu-list{padding-left:0;}
  .class-home-info {
    padding:40px 20px 28px;
    text-align:center;
    .info-img {
      width:80px;
      height:80px; //jbc
      overflow:hidden;
      margin:0 auto;
      .circle{width:80px;height:80px;border-radius: 50%;/*jbc*/}
      .img-change {position:absolute;bottom:0;right:0;width:32px;}
    }
    .info-txt {
      margin-top:20px;
      .info-cn {font-size:16px;font-weight:500;}
      .info-or {color:#848499;}
      .info-list {
        overflow:hidden;
        margin:10px auto;
        li {
          display:inline-block;
          padding:8px 0;
          font-size:12px;
          color:#848499;
          &:after {content:'・';display:inline-block;margin:0 2px 0 5px;}
          &:last-child:after {display:none;}
        }
      }
      .info-tag {font-size:12px;color:#57576d;}
    }
    .info-img~.info-txt{display:block;margin-top:20px;}
    .class-bookmark {margin-top:20px;}
  }

  .class-menu {
    .menu-list {
      li {
        a {
          display:block;
          padding:15px 0 15px 74px;
          color:#57576d;
          background-repeat: no-repeat;
          background-position: 34px 12px;

          &.type1 {background-image:url(../../assets/images/classmenu-home-outline.svg);}
          &.type2 {background-image:url(../../assets/images/classmenu-notice-outline.svg);}
          &.type3 {background-image:url(../../assets/images/classmenu-plan-outline.svg);}
          &.type4 {background-image:url(../../assets/images/classmenu-file-box-outline.svg);}
          &.type5 {background-image:url(../../assets/images/classmenu-curriculum-outline.svg);}
          &.type6 {background-image:url(../../assets/images/classmenu-setting-outline.svg);}

          &.active, &:hover {
            color:#0f0f15;
            background-color:#f4f5f6;

            &.type1 {background-image:url(../../assets/images/classmenu-home.svg);}
            &.type2 {background-image:url(../../assets/images/classmenu-notice.svg);}
            &.type3 {background-image:url(../../assets/images/classmenu-plan.svg);}
            &.type4 {background-image:url(../../assets/images/classmenu-file-box.svg);}
            &.type5 {background-image:url(../../assets/images/classmenu-curriculum.svg);}
            &.type6 {background-image:url(../../assets/images/classmenu-setting.svg);}
          }
        }
      }
    }
  }
}

.info-img {
  position:relative;
  display:inline-block;
  img {width:100%;height:100%;object-fit: cover}//jbc
  .input-file{
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    opacity: 0;
  }
}

.fd-cnt {
  .fd-txt {
    line-height:1.57;
    color:#57576d;
    letter-spacing: 0;
    + .fd-txt {margin-top:6px;}
  }
  .fd-more {color:#0f0f15}
}

.feed-item {
  padding: 30px 40px 0 40px;
  border-radius: 5px;
  border: solid 1px #f4f5f6;
  background-color: #ffffff;

  + .feed-item {margin-top:10px;}
}

.fd-btn {
  position:absolute;
  top:0;
  right:0;

  .bookmark {margin-right:16px;}
  .list-popup {display:inline-block;}
}

.top-notify {
  margin-top:24px;
  margin-bottom:10px;
  border-radius:5px;
  background-color:#fff;

  .accordion-tit {
    .accordion-btn {
      padding:14px 20px;
      &:after {right:20px;}
      .icon {display:inline-block; width:18px; height:18px;}
    }
  }

  .notify-feed {
    position:relative;
    padding:14px 20px 14px 40px;

    + .notify-feed {border-top:1px solid #f4f5f6;}

    .fd-tit {
      font-size:14px;
      font-weight:500;
    }
    .fd-writer {
      padding:10px 0 0 0 ;
    }

    .fd-btn {
      position:absolute;
      top:14px;
      right:20px;
    }
  }
}

.fd-head {
  position:relative;
  .fd-tit {font-size:18px;}
  .fd-writer {
    padding:21px 0;
    .class-name {font-weight:500;color:#0f0f15;}
    .writer {
      font-size:12px;
      span {
        &.name {font-weight:400;}
        &.time {
          position:relative;
          margin-left:3px;
          color:#57576d;
        }
        &.noti {color:#d42b2b;}
        &:after {
          content:'・';
          display:inline-block;
          margin-left:6px;
        }
        &:last-child:after {display:none;}
      }
    }

    &.type2 {
      padding:10px 0 20px;
      .writer {font-size:14px;
        .name {
          position:relative;
          padding-left:22px;

          &:before {
            content:'';
            position:absolute;
            display:block;
            width:14px;
            height:14px;
            top:0;
            left:0;
            border-radius:50%;
            background:#57576d url(../../assets/images/member-staff.svg) no-repeat center / 8px 8px;
          }

          &.manager {
            &:before {background:#ffba36 url(../../assets/images/member-manager.svg) no-repeat center / 8px 8px;}
          }
        }
      }
    }
  }
}

.fd-inner {
  position:relative;
  margin-top:20px;

  .fd-inner-txt {
    position:relative;
    padding:8px 0;
    font-weight:500;
    color:#57576d;
  }

  .vote-count {
    @include pos-vertical($right:0);
    font-size:12px;
    color:#57576d;
  }
}

.fd-foot {
  margin-top:10px;
  padding:20px 0;
  .fd-viewer {color:#c9cad5;}
  .fd-comment {float:right;}
}

.classes-feed {
  margin-top:10px;

  &.home {
    .feed-item {
      padding:32px 40px 30px 76px;
      background-repeat:no-repeat;
      background-position:30px 30px;

      &.cal {background-image: url(../../assets/images/btn-round-cal.svg)}
      &.edu {background-image: url(../../assets/images/btn-round-edu.svg)}
      &.noti {background-image: url(../../assets/images/btn-round-noti.svg)}
    }
    .fd-foot {margin-top:20px;padding:0;}
    .notify-feed {
      .fd-writer {
        padding:2px 0 0 0;
        .writer {font-size:12px;}
      }
    }

    .schedule-list {
      padding:14px 20px 14px 48px;
      border-radius: 5px;
      border: solid 1px #c9cad5;
      background:url(../../assets/images/classmenu-plan-outline.svg) no-repeat left 23px top 14px / 18px 18px;
      li{color:#57576d;}
    }

  }

  &.notification {
    .accordion-btn {
      color: #848499;
      &.active {color: #f9862a;}
    }
    .notify-feed {
      .fd-tit {color: #000;opacity: 0.3;font-weight: 500;}
      .fd-schedule {font-size: 12px;color: #f9862a;}
    }

    .img-list {
      li {
        &.img-item:nth-child(1),
        &.img-item:nth-child(2),
        &.img-item:nth-child(3){
          a img {width: 254px;}
        }
      }
    }
  }
}

.no-notify, .simple-notify {
  position:relative;
  height:600px;
  border-radius: 5px;
  background-color:#fff;

  .no-data, .simple-data{
    @include pos-abs($top:50%, $left:50%);
    transform:translate(-50%, -50%);
    text-align:center;

    p {margin-top:20px; font-size:16px; color:#848499;}
    span {margin-top:10px; color:#c9cad5;}
  }
}

.img-list {
  overflow: hidden;
  height: 320px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  li {
    position:relative;
    img {width:100%; object-fit: cover;}//jbc
    &.img-item:nth-child(1){
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 3;
      a img {width: 238px;height: 320px;}
    }
    &.img-item:nth-child(2){
      margin-bottom: 10px;
      a img {width: 236px;height: 150px;}
    }

    &.img-item:nth-child(3){
      a{
        img {width: 236px;height: 160px;}
        &:after{
          content:attr(data-count);
          position:absolute;
          display:block;
          top:50%;
          left:50%;
          transform:translate(-50%, -50%);
          color:#fff;
          font-size:24px;
          text-align:center;
        }
        &:before {
          content:'';
          position:absolute;
          display:block;
          width:100%;
          height:100%;
          top:0;
          left:0;
          color:#fff;
          font-size:24px;
          text-align:center;
          background-color:rgba(0,0,0,0.5);
        }
      }
    }
    &.img-item.w254 img{ width:254px !important;}
  }
  .img-item:nth-child(3) .pseudo-del:before{content: none;}
}


/* 이미지가 총 1개인 경우 중앙 정렬 */
.img-list li:first-child:nth-last-child(1){
  grid-row-start: auto;
  grid-row-end: auto;
  grid-column-start: auto;
  grid-column-end: 3;
}
/* 이미지가 총 2개인 경우 세로 사이즈 320px 고정 */
.img-list li:first-child:nth-last-child(2) ~ li a img {height:320px;}


.file-list {
  li {
    float:left;
    margin:0 10px 10px 0;
    a {
      display:block;
      position:relative;
      padding:14px 20px 14px 46px;
      border:1px solid #c9cad5;
      border-radius:5px;
      background-color:#fff;
      font-weight:bold;
      &:before {
        content:'';
        position: absolute;
        display:block;
        width:24px;
        height:24px;
        top:50%;
        left:12px;
        transform:translateY(-50%);
        background:url(../../assets/images/pic7.png) no-repeat;
      }
    }
  }
}


.vote-area {
  position:relative;
  margin-top:10px;
  padding:12px 0 12px 46px;
  border:1px solid #c9cad5;
  border-radius:5px;

  &:not(.none):before {
    content:'';
    position:absolute;
    display: block;
    width:24px;
    height:24px;
    top:12px;
    left:12px;
    background:url(../../assets/images/pic6.png) no-repeat;
  }
  .vote-tit {font-size:16px;font-weight:bold;line-height:1.8;}
  .vote-option {
    font-size:12px;
    color:#848499;
    li {
      position:relative;
      float:left;
      padding:0 10px;
      &:after {
        content:'';
        position:absolute;
        display:block;
        width:1px;
        height:12px;
        top:50%;
        right:0;
        transform: translateY(-50%);
        background-color:#848499;
      }
      &:first-child {padding-left:0;}
      &:last-child {
        &:after {display:none;}
      }
    }
  }
}

.link-area {
  position:relative;
  margin-top:10px;
  padding:14px 20px;
  border:1px solid #c9cad5;
  border-radius:5px;
  overflow: hidden;
  .link-thumb {position:absolute;width:160px;top:0;right:0;}
  .link-cnt {
    width:65%;
    letter-spacing: 0;
    .link-tit {font-weight:500;}
    .link-txt {margin-bottom:6px;font-size:12px;color:#57576d;}
    .link-source {
      margin-top:10px;
      font-size:12px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow:hidden;
      .link-logo {margin-right:8px;}
    }
  }
}

.cnt-top {
  position: relative;
  margin-bottom: 26px;
  .color-mark {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    border: none;
    right: -2px;
  }
  .cnt-top-btn {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.classes-schedule {
  margin-top:10px;
  .schedule-calendar {
    position:relative;
    height: 674px;
    border-radius: 5px;
    border: solid 1px #f4f5f6;
    background-color: #ffffff;
    .calendar-top {
      padding:20px;
      border-bottom:1px solid #f4f5f6;
      .calendar-arrow-btn {
        button {
          float:left;
          &.next {margin-left:10px;}
        }
      }
      .calendar-date {font-size:18px;font-weight:500;margin-left:20px;}
    }

    .schedule-add {
      @include pos-abs($right:0, $bottom:20px);
      transform:translateX(85%);

      &-btn {
        display:block;
        width:80px;
        height:80px;
        background:url(../../assets/images/add-btn.svg) no-repeat;
      }
    }
  }
}

.curr-list-group {column-width:295px;column-gap: 10px;}
.curr-item {
  display:inline-block;
  width:295px;
  margin-bottom:10px;
  padding: 20px 30px 30px;
  border-radius: 5px;
  border: solid 1px #f4f5f6;
  background-color: #ffffff;
  .fd-foot {
    position:relative;
    padding:0;
    margin-top:22px;
    .en-count {font-weight:500;margin-bottom:0;}
  }
}

.curriculum-add {
  @include pos-abs($right:-10%, $bottom:35%);

  &-btn {
    display:block;
    width:80px;
    height:80px;
    background:url(../../assets/images/add-btn.svg) no-repeat;
  }
}

/* start: 클래스 페이지-멤버일, 파일*/
.member-search {
  position: relative;
  padding:15px 20px 15px 62px;
  border-radius:50px;
  background-color:#fff;

  .btn {
    position:absolute;
    top:50%;
    left:20px;
    transform:translateY(-50%);
    opacity: 0.2;
  }
  .mb-search-bar {
    font-size:14px;
    &:focus {
      +.btn {opacity: 1;}
    }
  }
}

.classes-member-list, .classes-file-list {
  margin-top:20px;
  .list-tit {
    font-size:12px; color:#57576d;
    &.file-info{
      padding: 15px 20px;
      font-size: 14px;
      font-weight: 500;
      color: #848499;
      background-color: #ffffff;
    }
  }
  .member-list, .file-group {
    margin:6px 0 30px;
    .list-item {
      position:relative;
      padding:15px 20px;
      background-color:#fff;
        .member-info, .file-info {
          padding-left:42px;
          background-repeat: no-repeat;
          background-position: left center;
          .name {font-weight:500;}
          .position, .size {font-size:12px;color:#57576d;}

          &.manager {background-image:url(../images/btn-round-manager.svg);}
          &.staff {background-image:url(../../assets/images/btn-round-staff.svg);}
          &.member {background-image:url(../../assets/images/btn-round-member.svg);}

          &.pdf-file {background-image:url(../../assets/images/icn-32-file-pdf.svg);}
          &.jpg-file {background-image:url(../../assets/images/icn-32-file-jpg.svg);}
          &.unknown-file {background-image:url(../../assets/images/icn-32-file-unknown.svg);}
        }
        .member-info-btn {position:absolute;top:50%;right:20px;transform:translateY(-50%);}
      }
      .txt-right{text-align: right;}
      .txt-left{text-align: left;}
  }

  .search-none {
    position: relative;
    height: 400px;
    .search-none-inner {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      p {
        text-align: center;
        &.m-txt {padding: 20px 0 10px 0;font-size: 16px;color: #848499;}
        &.s-txt {color: #c9cad5;}
      }
    }
  }

  .setting-list {
    margin: 10px 0 20px;
    background-color: #fff;
    .list-item {
      position: relative;
      padding: 15px 20px;
      border-bottom: 1px solid #f4f5f6;
      .list-tit {font-size: 14px;color: #373749;}
      .setting-btn {position: absolute;top: 50%;right: 20px;transform: translateY(-50%);}
      &.sub-list-item {
        position: relative;
        border-bottom: none;
        .list-tit {color: #848499;}
      }
      &.disabled {opacity: 0.2;}
    }
  }
  .scroll-body {
    overflow-y: scroll;
    &.file {
      padding-right: 200px;
      margin-right: -200px;
      -ms-overflow-style: none; /* IE and Edge */
      &::-webkit-scrollbar {display: none; /* Chrome, Safari, Opera*/}
    }
  }
}
/* end: 클래스 페이지-멤버, 파일*/

.class-created {
  min-height:305px;
  padding:30px 30px 0 30px; //jbc

  .class-type {
    margin:30px 0;
    .type-list {
      li {
        float:left;
        width:190px;
        margin-right:15px;
        a {
          display:block;
          padding:98px 0 18px 0;
          border:1px solid #c9cad5;
          border-radius:5px;
          text-align:center;
          font-size:16px;
          color:#848499;
        }
        &.active a, &:hover a{border-color:#373749;color:#0f0f15;}
        &.type1{background:url(../../assets/images/school.png) 50% 18px no-repeat;}
        &.type1.active, &.type1:hover{background:url(../../assets/images/school-on.png) 50% 18px no-repeat;}
        &.type2 {background:url(../../assets/images/institute.png) 50% 18px no-repeat;}
        &.type2.active, &.type2:hover {background:url(../../assets/images/institute-on.png) 50% 18px no-repeat;}
        &.type3{background:url(../../assets/images/group.png) 50% 18px no-repeat;}
        &.type3.active, &.type3:hover {background:url(../../assets/images/group-on.png) 50% 18px no-repeat;}
      }
    }
  }
  .info-icon {display:inline-block;width:18px;height:18px;margin-left:2px;}
}

.classes-add-btn {
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:15%;
  border-radius:50%;
  background:#1d1d4c url(../../assets/images/icn-80-add-btn.svg) no-repeat;
  background-size:contain;
}

.profile-list {
  .list-item {
    padding:15px 40px;
    border-bottom:1px solid #f4f5f6;
    .list-tit {color:#848499;}
    .basic-info {
      text-align:right;
      p {margin-bottom: 4px;}
      .basic-info-item {
        display:none;
        &.show {display:inline-block;}
      }
      .edit-btn {margin-left:10px;}
      .list-popup {
        text-align:left;
        .list-popup-btn span {margin-right:0;font-size:12px;color:#57576d;}
      }
    }
  }
}

.class-basic-info {
  .info-top {
    margin-top:10px;
    text-align:center;
    .group-type {font-weight:700;}
  }
  .info-form {
    padding:20px 40px 12px;
    label, .label {margin-bottom:10px;}
    .label {display:inline-block;}
  }
}


.add-curriculum {
  .tit {padding:18px 40px;font-size:16px;font-weight:500;}
  .add-curr-item {
    position:relative;
    padding:15px 40px;
    border-bottom:1px solid #f4f5f6;
    .add-curr-tit {
      float:left;
      font-weight:500;
      color:#848499;
      .curr-num {display:inline-block;min-width:70px;}
    }
    .form-box {@include pos-vertical($right:40px)}
  }
}

.form-txt, .date-area.ft-desc{color: #848499;}

.search-result {
  position:relative;
  height:320px;
  .search-result-cnt {
    height:100%;
    overflow-y:auto;
    border-top:1px solid #f4f5f6;
    border-bottom:1px solid #f4f5f6;
    .search-result-item {
      li {
        display:table;
        width:100%;
        border-bottom:1px solid #f4f5f6;
        .result-link {
          display:table;
          table-layout: fixed;
          width:100%;
          &:hover {background-color:#f4f5f6;}
        }
        .tb-cell {
          &.result-tit {width:38%;padding:15px 0 15px 40px;}
          &.result-sub {
            padding:15px 0 15px 20px;
            color:#848499;
          }
        }
        &:last-child {border-bottom:0;}
      }
    }
  }
  .search-none {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size:16px;
    letter-spacing: 0;
    color:#848499;
  }
}

/* 디자인상 팝업이지만 router-view 처리하는 경우 - ksj */
.non-popup {
  background: #fff;
  .scroll-body {overflow-y:auto;}
}

// pagination
.pagination {
  width:100%;
  padding:14px 0;
  text-align:center;
  ul {
    display:inline-block;
    overflow: hidden;
    li {
      float:left;
      a {
        display:block;
        padding:2px 0;
        width:32px;
        height:32px;
        border-radius:50%;
        line-height:32px;
        text-align:center;
      }
      &.num {
        &.active , &:hover{
          a{background-color:#ff4d4d;color:#fff;}
        }
      }
    }
  }
  .arrow {
    display: inline-block;
    margin:0 10px;
    opacity:0.2;
    vertical-align: top;
    line-height: 32px;
    &.active {opacity: 1;}
  }
}
