@import "./mixin.scss";

label {
  display:block;
  font-weight:500;
  color:#57576d;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: rgba(55,55,73,0.2);
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #d0d0d0;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #d0d0d0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size:12px;
  color:#57576d;
  background: #fff url(../../assets/images/arrow-down.svg) no-repeat center right;
  background-size:18px;
  &::-ms-expand {display: none;}
}

.form-control {
  width:100%;
  padding:0 0 10px 0;
  line-height:20px;
  font-size:14px;
  border:none;
  border-bottom:1px solid #c9cad5;
  border-radius:0;
  box-shadow:none;
  background-color:transparent;

  &[disabled], &[readonly] {color:#848499;}

  &:before {
    content: '';
    @include pos-abs($top: 0, $left: 0);
    width:0;
    height:1px;
    background-color:#0f0f15;
  }
  &:focus {
    box-shadow:none;
    &:before {width:100%;}
  }
  &:focus+.form-message {
    &.count {color:#57576d;}
    &.time {display:block;}
    &.pw-show {opacity: 1;}
  }

  &[type="number"] {
    width:40px;
    padding:4px 2px;
    border:none;
    text-align: right;
    background-color:#fff;
    &::-webkit-inner-spin-button{
      -webkit-appearance: none;
      margin: 0;
    }
    &:focus {background-color:#f4f5f6;}
  }
  &.error {border-color:#ff4d4d !important;}
  &.approval {border-color:#629f00;}
}

.form-message {
  position:absolute;
  left:0;
  margin-top:4px;
  font-size:12px;
  color:#57576d;

  &.count {
    @include pos-vertical($right:0);
    color:#848499;
  }
  &.error {color: #ff4d4d;}
  &.approval {color:#629f00;}

  /* form-control focus시 활성화 */
  &.ms-time {
    @include pos-vertical($right:0);
    display:none;
    font-size:14px;
    color:#ff4d4d;
  }

  /* form-control password focus시 활성화 */
  &.pw-show {
    @include pos-vertical($right:0);

    width:24px;
    height:24px;
    opacity: 0.2;
    background:url(../../assets/images/eye.svg) no-repeat;
    &.active {background:url(../../assets/images/eye-off.svg) no-repeat;}
  }
}

.form-switcher {
  position: relative;
  display: block;

  input {
    visibility: hidden;
    position: absolute;
    &:checked + label {background-color: #adc500;}
    &:checked + label:after {transform: translateX(100%);}
  }

  label {
    background-color: #f4f5f6;
    border-radius: 20px;
    display: block;
    position: relative;
    transition: all 0.3s ease;
    width: 42px;
    height: 24px;
    &:after {
      z-index: 3;
      content: '';
      position: absolute;
      top:3px;
      left:3px;
      width: 18px;
      height: 18px;
      background-color: #fff;
      border-radius: 50%;
      transition: all 0.3s ease;
      transform: translateX(0);
    }
  }
}

.form-textarea {
  width:100%;
  min-height:80px;
  padding:10px 14px;
  border:1px solid #c9cad5;
  resize:none;
  line-height: 22px;
  font-size:14px;
  font-family: "Noto Sans KR", sans-serif;
  color:#373749;
  background-color:#fff;
  &.h-full {height:100%;}

  + .form-message {
    &.count {
      position:relative;
      float:right;
      transform:none;
    }
  }
}

.form-select {
  position:relative;
  padding:7px 40px 7px 17px;
  border:1px solid #f4f5f6;
  border-radius:48px;
  line-height: 1.4;
  background-position: center right 16px;
}

.form-group {
  position: relative;

  .btn {
    &.form-delete {
      @include pos-vertical($right:0);
      display:none;
      &.active {display:block;}
    }
    + .form-control {margin-left:6px;}
  }

  &.inline {
    label {display:inline-block;width:120px;}
    .form-control {
      +.btn {margin-left:6px;}
    }
  }

  &.time .form-delete, &.date .form-delete {
    display:block;
    right:auto;
    left:0;
    +.time-control, +.date-area {margin-left:34px;}
  }
  &.time {
    display:inline-block;
    .time-control {
      font-size:14px;
      &.no-time {color:#848499;}
      &:focus {
        padding:4px 10px;
        background-color:#f4f5f6;
        + .btn.form-time {
          background:url(../../assets/images/time.svg) no-repeat
        }
      }
    }
  }
  &.date {
    display:inline-block;
    .form-control {display:none;}
    .date-area {
      font-size:14px;
      vertical-align:middle;
      + .form-btn {margin-left:6px;}
      &.placeholder {color:#848499; opacity: 0.2;}
    }
  }
}

// checkbox group
.checkbox-group {
  .btn-radio:first-child,
  .btn-checkbox:first-child{margin-left:0;}
  .btn-radio, .btn-checkbox{display: inline-block;margin-left:40px;}
  .disabled {opacity:0.2;}
}

// checkbox
.btn-checkbox {
  position: relative;

  label {
    position: relative;
    font-size:14px;
    color:#57576d;
    font-weight:400;
  }
  &.inline {display:inline-block;}
  input {
    display:none;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    opacity: 0;
    &:checked + label:before{
      background:url(../../assets/images/checkbox-marked.svg) no-repeat;
    }
  }
  input + label {
    padding-left:35px;
    vertical-align:middle;
    &:before {
      content:'';
      position:absolute;
      display:block;
      width:24px;
      height:24px;
      top:50%;
      left:0;
      transform:translateY(-50%);
      background:url(../../assets/images/checkbox-outline.svg) no-repeat;
    }
    &.big {
      padding-left:37px;
      &:before, &:after {width:27px;height:27px;}
    }
  }

  &.round{
    input{
      width: 24px;
      height: 24px;
      &:checked + label:before{
        background:url(../../assets/images/icn-24-box-round-check.svg) no-repeat;
      }
    }
    input + label {
      &:before {
        width:24px;
        height:24px;
        background:url(../../assets/images/checkbox-circle-outline.svg) no-repeat;
      }
    }
  }
}

// radio box
.btn-radio {
  position: relative;
  label {
    position:relative;
    font-size:14px;
    color:#57576d;
    font-weight:400;
  }
  input {
    display:none;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    opacity: 0;
    &[disabled]+ label {opacity:0.2;}
    &[disabled]:checked + label {
      opacity: 1;
      &:before, &:after {opacity: 0.2;}
    }
    &:checked + label:before {
      background:url(../../assets/images/checkbox-circle-radio.svg) no-repeat;
    }
  }
  input + label {
    padding-left:30px;
    vertical-align:middle;
    &:before {
      content:'';
      position:absolute;
      width:24px;
      height:24px;
      top:50%;
      left:0;
      transform:translateY(-50%);
      border-radius:50%;
      background:url(../../assets/images/checkbox-circle-outline.svg) no-repeat;
    }
  }
}

// check-round
.check-round {
  position: relative;
  label {
    position: relative;
    font-size:14px;
    color:#57576d;
    font-weight:400;
  }

  input {
    display:none;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    opacity: 0;
    &:checked + label:before{
      background:url(../../assets/images/icn-24-box-round-check.svg) no-repeat;
    }
  }

  input + label {
    padding-left:35px;
    vertical-align:middle;
    &:before {
      content:'';
      position:absolute;
      display:block;
      width:24px;
      height:24px;
      top:50%;
      left:0;
      transform:translateY(-50%);
      background:url(../../assets/images/checkbox-circle-outline.svg) no-repeat;
    }
  }
}

.all-form {
  text-align:center;
  margin-top:40px;
  padding-bottom:75px;
  .form-progress {
    margin-top:20px;
    .progress-list {
      display:inline-block;
      .item {
        position:relative;
        float:left;
        height:20px;
        &:before {
          content:'';
          display:inline-block;
          width:6px;
          height:6px;
          border-radius:50%;
          vertical-align: middle;
          background-color:#0f0f15;
        }
        &:after {
          content:'';
          display:inline-block;
          width:20px;
          height:1px;
          margin:0 4px;
          vertical-align:middle;
          background-color:#c9cad5;
        }
        &.active:before {
          width:20px;
          height:20px;
          background-color:#fff;
          border:7px solid #ff4d4d;
        }
        &:last-child:after {display:none;}
      }
    }
  }

  .form-wrapper {
    width:800px;
    padding:40px 60px;
    margin:30px auto 0 auto;
    text-align:left;
    background-color:#fff;
    box-shadow: 0 0 10px 0 rgba(15, 15, 21, 0.05);
    .form-sub-tit {
      font-size: 18px;
      font-weight: 500;
      padding-bottom: 20px;
      border-bottom: 1px solid #f4f5f6;
    }
  }

  .form-cnt {
    position:relative;
    min-height:280px;
    .agreement {
      height:200px;
      padding:20px 20px 20px 54px;
      overflow-y: auto;
      line-height:1.57;
      text-align:left;
      font-size:14px;
      color:#57576d;
      background-color:#f4f5f6;
      p, li {margin-bottom:8px;}
    }

    .form-tit {
      padding:18px 20px;
      input {
        + label {
          font-size:16px;
          color:#0f0f15;
        }
      }
    }

    .form-card {
      margin-top:30px;
      text-align:center;
      .card-tit {
        font-size:18px;
        color:#0f0f15;
        &.fw-500 {font-weight:500;}
      }

      .card-txt {
        margin:20px 0 24px 0;
        font-size:14px;
        color:#5b5b70;
        line-height:1.57;
        letter-spacing:0;
      }

      &.bg {
        &:after {
          content:'';
          display:block;
          position:absolute;
          width:233px;
          height:199px;
          bottom:0;
          left:50%;
          transform:translateX(-50%);
          background:url(../../assets/images/illust-confirm-small.png) no-repeat center bottom;
        }
      }

      &.bg2 {
        &:after {
          content:'';
          display:block;
          position:absolute;
          width:233px;
          height:232px;
          bottom:0;
          left:50%;
          transform:translateX(-50%);
          background:url(../../assets/images/illust-welcome-small.png) no-repeat center bottom;
        }
      }
    }
  }
  .all-form-data {padding:30px 35px;}
  .form-btm {margin-top:30px;}
}











