.join-main {
  width:1020px;
  margin:0 auto;
  padding-top:100px;
}

.join-tit {
  font-size:18px;
  font-weight:500;
  padding-bottom:20px;
  border-bottom:1px solid #f4f5f6;
}

.join-type {
  color:#fff;
  margin-bottom:100px;
  .tb-cell {
    padding:46px 40px;
    &.join-basic {
      background-color:#1d1d4c;
      .join-type-cnt {float:right;}
    }
    &.join-guardian {
      background-color:#ff4d4d;
      .join-type-cnt {float:left;}
    }

    .join-type-cnt {
      position:relative;
      width:440px;
      height:165px;
      .join-tit {border-bottom:0;}
      .join-next {
        position:absolute;
        display:block;
        width:50px;
        height:50px;
        bottom:0;
        right:0;
        font-size:0;
        text-indent:-9999px;
        overflow:hidden;
        background:#fff url(../../assets/images/arrow-right.png) no-repeat 13px 13px;
        border-radius:50%;
      }
    }
  }
}
