$modalDepth: 1050;
$popupDepth: 10;
.popup {
  z-index: $popupDepth;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &.photo-viewer {
    background-color: rgba(15, 15, 21, 0.8);
  }

  .tip-info {
    display: inline-block;
    width: 18px;
    height: 18px;
  }
}

.modal-dim {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
}

.popup-dialog {
  @include abs-center($zIndex: $modalDepth);
  box-shadow: 0 0 10px 0 rgba(15, 15, 21, 0.05);
  background-color: #ffffff;

  .feed-info {
    margin-top: 6px;

    li {
      float: left;
      color: #57576d;

      &:after {
        content: '・';
        margin: 0 6px;
      }

      &:last-child:after {
        display: none;
      }
    }

    &.period {
      position: relative;
      padding-left: 28px;

      &:before {
        content: '';
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url(../../assets/images/time-outline.svg) no-repeat center / 18px;
        opacity: 0.7;
        @include pos-vertical($left: 0);
      }
    }
  }

  .scroll-body {
    overflow-y: auto;
  }
}

.popup-header {
  position: relative;
  padding: 30px 40px 20px;

  .popup-header-tit {
    font-size: 18px;
    font-weight: 500;
  }

  .popup-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    &.error {
      background: url(../../assets/images/popup-icon-error.png) no-repeat;
    }

    &.search {
      background: url(../../assets/images/popup-icon-search.png) no-repeat;
    }

    &.edu {
      background: url(../../assets/images/popup-icon-edu.svg) no-repeat;
    }

    &.profile {
      background: url(../../assets/images/popup-icon-profile.svg) no-repeat;
    }

    &.link {
      background: url(../../assets/images/popup-icon-link.svg) no-repeat;
    }

    &.time {
      background: url(../../assets/images/popup-icon-time.svg) no-repeat;
    }

    &.vote {
      background: url(../../assets/images/popup-icon-vote.svg) no-repeat;
    }

    &.withdraw {
      background: url(../../assets/images/popup-icon-withdraw.svg) no-repeat;
    }

    &.change {
      background: url(../../assets/images/popup-icon-change.svg) no-repeat;
    }

    &.confirm {
      background: url(../../assets/images/popup-icon-confirm.svg) no-repeat;
    }

    &.add {
      background: url(../../assets/images/popup-icon-add.svg) no-repeat;
    }

    &.staff {
      background: url(../../assets/images/popup-icon-staff.svg) no-repeat;
    }

    &.leave {
      background: url(../../assets/images/popup-icon-leave.svg) no-repeat;
    }

    &.block {
      background: url(../../assets/images/popup-icon-block.svg) no-repeat;
    }

    &.success {
      background: url(../../assets/images/popup-icon-success.svg) no-repeat;
    }
  }

  .popup-close, .popup-btn {
    @include pos-abs($right: 40px, $top: 30px);
  }
}

.popup-type {
  padding-bottom: 0;
  border-bottom: none;
  font-size: 16px;
  color: #373737;

  &.sm {
    font-size: 14px;
  }
}

.popup-cnt {
  padding: 10px 40px;

  .write-tit {
    padding: 18px 0 0 0;
  }

  .form-item {
    padding: 18px 0;
  }
}

.popup-search {
  padding: 10px 40px 20px;
}

.popup-tit {
  font-size: 18px;
  font-weight: 500;

  + p, + div {
    padding-top: 20px;
  }
}

.popup-sub-tit {
  padding: 18px 0;
  font-size: 16px;
  color: #373749;
}

.popup-txt {
  letter-spacing: 0;
  line-height: 1.57;
  color: #57576d;

  &.type2 {
    color: #848499;
    margin-bottom: 4px;
  }
}

.popup-input {
  padding: 30px 0 10px 0;
}

.popup-form-top {
  margin: 0 40px;
  border-bottom: 1px solid #f4f5f6;

  .form-item {
    position: relative;
    padding: 18px 0;
    border-top: 1px solid #f4f5f6;

    &.selected, &.pd-desc {
      padding: 10px 0;
    }

    &.post-classes {
      position: relative;

      p {
        color: #848499;
        padding-left: 42px;

        .icon {
          border-radius: 50%;
          overflow: hidden;
        }

        .gr-name {
          font-size: 12px;
          color: #57576d;
        }

        .cls-name {
          display: block;
          font-weight: 500;
          color: #0f0f15;
        }
      }

      .icon {
        display: block;
        width: 32px;
        height: 32px;
        @include pos-vertical($left: 0);

        &.icon-class {
          background: url(../../assets/images/profile-class.svg) no-repeat;
        }
      }

      .post-classes-select, .post-writer {
        @include pos-vertical($right: 0);
      }

      .post-writer {
        padding-left: 20px;

        &:before {
          content: '';
          width: 14px;
          height: 14px;
          margin-right: 6px;
          vertical-align: middle;
          border-radius: 50%;
          background: #57576d url(../../assets/images/member-staff.svg) no-repeat center / 8px;
          @include pos-vertical($left: 0);
        }

        &.manager:before, &.crown:before {
          background: #ffba36 url(../../assets/images/member-manager.svg) no-repeat center / 8px;
        }
      }
    }

    .state-item {
      + .state-item {
        margin-top: 6px;
      }

      p {
        position: relative;
        padding-left: 28px;
        color: #57576d;

        &:before {
          content: '';
          display: inline-block;
          width: 18px;
          height: 18px;
          @include pos-vertical($left: 0);
        }

        &.period:before {
          background: url(../../assets/images/time-outline.svg) no-repeat center / 18px;
          opacity: 0.7;
        }

        &.repeat:before {
          background: url(../../assets/images/repeat.svg) no-repeat center / 18px;
        }
      }
    }
  }
}

.popup-form-cnt {
  .form-item {
    position: relative;
    margin: 0 40px;
    padding: 15px 0;
    border-bottom: 1px solid #f4f5f6;
  }

  .post-cnt {
    padding: 20px 0;
    border-bottom: 0;
  }

  .form-textarea {
    height: 100%;
    padding: 0;
    border: none;
  }

  .form-box {
    @include pos-vertical($right: 0);

    .form-group + .form-group {
      margin-left: 30px;
    }
  }

  .form-create-list {
    border-top: 1px solid #f4f5f6;

    .create-item-cnt {
      padding: 0 40px;

      .create-sub-btn {
        @include pos-vertical($right: 0);

        > a {
          display: block;
          float: left;
          margin-left: 20px;

          &.add-img-btn {
            opacity: 0.2;
          }
        }
      }

      // start: 링크 만들기
      .create-link-list {
        li {
          position: relative;
          padding: 15px 0;
          border-bottom: 1px solid #f4f5f6;
        }

        .create-form {
          overflow: hidden;

          &.list-type {
            position: relative;
            padding: 15px 0;
            border-bottom: 1px solid #f4f5f6;
            background-color: #fff;
          }

          .num {
            width: 20px;
            float: left;
            margin-right: 10px;
            vertical-align: middle;
            color: rgba(55, 55, 73, 0.2);
          }

          &.active {
            .num {
              color: #57576d;
            }
          }

          .form-group {
            float: left;
          }
        }
      }

      // end: 링크 만들기

      // start: 알림 예약 설정
      .create-notice-list {
        li {
          position: relative;
          padding: 15px 0;
          height: 52px;
          border-bottom: 1px solid #f4f5f6;
        }
      }

      // end: 알림 예약 설정

    }

    .create-add-list {
      a {
        display: block;
        padding: 13px 0;
        border-bottom: 1px solid #f4f5f6;
        text-align: center;

        .btn-txt {
          vertical-align: middle;
        }
      }
    }
  }

  .add-curriculum {
    .tit {
      padding: 18px 40px;
      font-size: 16px;
      font-weight: 500;
    }


    .add-curr-tit {
      margin-right: 40px;
      float: left;
      font-weight: 500;
      color: #848499;
    }
  }
}

.popup-form-btm {
  .form-add-list + .form-add-list {
    margin-top: 20px;
  }

  // start: 가입신청
  .enroll-qna {
    margin: 0 40px;

    p {
      padding: 20px 0;
      font-size: 12px;
      font-weight: bold;
      color: #848499;
    }
  }

  // end: 가입신청

}

.auto-resize {
  display: block;
  width: 100%;
  height: auto;
  min-height: auto;
  appearance: none;
}

.add-item {
  margin: 0 40px;
}

//이미지 파일 미리보기
.add-item-top {
  position: relative;
  //margin:0 40px;
  padding: 16px 0 14px;
  border-bottom: 1px solid #f4f5f6;

  .add-item-tit {
    margin-bottom: 0;
    font-weight: 500;
  }

  .add-item-btn {
    @include pos-vertical($right: 0);

    .txt-btn {
      font-weight: 500;

      + .txt-btn {
        margin-left: 20px;
      }
    }
  }
}

.add-item-cnt {
  position: relative;
  padding: 10px 40px;

  // start: photo 추가 리스트
  .add-photo {
    position: relative;
    //width: 530px;
    width: calc(100% - 80px); // 20200503 lyj 수정
    margin: 0 auto;
    overflow: hidden;
    height: 80px;
  }

  .add-photo-list {
    //overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 10px 0;
    white-space: nowrap;
    transition: all .35s ease;

    li {
      overflow: hidden;
      position: relative;
      display: inline-block;
      width: 80px;
      height: 80px;
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }

      .add-img-delete {
        @include pos-abs($top: 0, $right: 0);
      }
    }
  }

  .add-photo-control {
    position: absolute;
    width: 100%;
    height: 20px;
    top: 53%;
    transform: translateY(-50%);

    .btn {
      @include pos-vertical();
      //opacity:0.2;

      &.scroll-prev {
        left: 0;
      }

      &.scroll-next {
        right: 0;
      }

      &.active {
        opacity: 1;
      }
    }
  }

  // end: photo 추가 리스트

  // start: vote
  .add-vote {
    padding: 12px 0 12px 46px;
    border: 1px solid #c9cad5;
    border-radius: 5px;
    background: url(../../assets/images/vote.svg) no-repeat left 12px top 12px;
  }

  .add-vote-tit {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
  }

  .add-vote-type {
    li {
      position: relative;
      float: left;
      padding-right: 10px;
      margin-right: 10px;
      font-size: 12px;
      line-height: 1.5;
      color: #848499;

      &:not(:last-child):after {
        content: '';
        display: block;
        width: 1px;
        height: 12px;
        background-color: #848499;
        @include pos-vertical($right: 0)
      }

    }
  }

  // end: vote

  // start: link
  .add-link {
    position: relative;
    padding: 10px 20px; //jbc
    border: 1px solid #c9cad5;
    border-radius: 5px;
  }

  .add-file-delete {
    display: inline-block;
    vertical-align: top
  }

  .add-link-cnt {
    width: calc(100% - 50px); //jbc
    vertical-align: top;

    .add-link-tit {
      font-weight: 500;
    }

    .add-link-txt {
      margin: 10px 0;
      font-size: 12px;
      color: #57576d;
    }

    .add-link-url {
      a {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .link-logo {
          margin-right: 10px;
        }
      }
    }
  }

  .add-link-thumb {
    width: 160px;
    height: 100%;
    overflow: hidden;
    @include pos-abs($top: 0, $right: 0);
  }

  // end: link

  // start: file
  .add-file-list {
    padding: 0;

    li {
      position: relative;

      p {
        margin-bottom: 0;
        padding: 15px 0 15px 42px;
        border-bottom: 1px solid #f4f5f6;
        background: url(../../assets/images/file.svg) no-repeat left center;
      }

      .add-file-delete {
        @include pos-vertical($right: 0);
      }
    }
  }

  // end: file
}

// start: enroll
.enroll-tit {
  margin: 0 40px;
  padding: 15px 0;
  font-weight: 500;
  color: #373749;
}

.enroll-qna {
  margin: 0 40px;

  p {
    padding: 20px 0;
    font-size: 12px;
    font-weight: bold;
    color: #848499;
  }

  .form-textarea {
    padding: 10px 14px;
    border: 1px solid #c9cad5;
  }
}

// end: enroll


.form-add-btn {
  position: relative;
  padding: 12px 40px;
  min-height: 50px;
  border-top: 1px solid #f4f5f6;
  border-bottom: 1px solid #f4f5f6;

  ul {
    padding-left: 0;

    li {
      float: left;

      a {
        display: block;
        margin-right: 20px;
      }

    }
  }
}

.preview {
  > .pre-txt {
    display: inline-block;
    padding: 15px 0;
    font-size: 14px;
    color: #373749;
    border-bottom: 1px solid #f4f5f6;

    > img {
      display: inline-block;
      padding-right: 10px;
    }
  }
}


.form-temp-save {
  @include pos-vertical($right: 40px);
}

.popup-feed-detail {
  padding: 20px 40px 0;
  .vote-area {
    padding: 14px 20px 20px;

    &:before {
      display: none;
    }
  }

  .vote-top {
    padding-bottom: 10px;
    border-bottom: 1px solid #f4f5f6;
  }

  .vote-select {
    position: relative;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #f4f5f6;

    .btn-radio {
      label {
        padding-left: 45px;

        span {
          font-size: 12px;
        }
      }
    }

    + .vote-select {
      margin-top: 10px;
    }
  }

  .vote-img {
    width: 40px;
    height: 40px;
    overflow: hidden;
    @include pos-vertical($right: 10px);
  }
}



.curriculum-list {
  position: relative;
}

.curriculum-item {
  padding: 14px 20px;
  border: 1px solid #c9cad5;
  border-radius: 5px;
  overflow: hidden;

  + .curriculum-item {
    margin-top: 10px;
  }

  .open-course {display:block;}
}

.turn {
  float: left;
  color: #848499;
}

.curriculum-info {
  float: left;
  margin-left: 20px;

  a {
    display: block;
  }
}

.subject-schedule, .subject-sub {
  overflow: hidden;

  span {
    float: left;
    font-size: 12px;
    color: #57576d;
  }
}

.subject-schedule {
  margin-top: 4px;

  span {
    &:after {
      content: '・';
      padding: 0 6px;
      display: inline-block;
    }

    &:last-child:after {
      display: none;
    }
  }
}

.subject-sub {
  margin-top: 2px;

  span {
    margin-right: 6px;
  }

  strong {
    margin-right: 6px;
    font-weight: 500;
  }
}

.subject-tit {
  font-weight: 500;
}

.comment-top {
  padding: 15px 40px;
  border-top: 6px solid #f4f5f6;
  border-bottom: 1px solid #f4f5f6;
}

// ksj
.modify, .delete {display: none;}

.main-comment {
  padding:20px 40px 10px;

  // ksj
  &:hover {
    .modify, .delete {display: inline-block;}
  }
}

.main-comment {
  padding: 20px 40px 10px;
  font-size: 14px;
}

.comment-writer {
  position: relative;
  padding-left: 20px;
  font-size: 14px;
  &:before {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #c9cad5 url(../../assets/images/member-member.svg) no-repeat center / 8px 8px;

    @include pos-vertical($left: 0);
  }
}

.wr-time {
  margin-left: 10px;
  font-size: 12px;
  color: #57576d;
}

.comment-txt {
  margin-top: 10px;
  line-height: 1.6;
  color: #57576d;
  font-size: 14px;

  font-size: 14px;

  &.hide {
    display: none;
  }

  // ksj
}

// ksj
.modify-comment, .modify-reply {
  display: none;
  margin-top: 10px;

  &.active {
    display: block;
  }
}

.reply-state {
  padding: 10px 0;

  .txt-btn {
    margin-right: 20px;
    font-size: 14px;
  }
}

.reply {
  position: relative;
  padding: 14px 40px 14px 62px;
  background: rgba(244, 245, 246, 0.3) url(../../assets/images/reply.svg) no-repeat left 40px top 14px / 18px;

  + .reply {
    &:before {
      content: '';
      display: block;
      width: 520px;
      height: 1px;
      background-color: #f4f5f6;

      @include pos-abs($top: 0, $left: 50%);
      transform: translateX(-50%);
    }
  }

  // ksj
  &:hover {
    .modify, .delete {display: inline-block;}
  }
}

.comment-btm {
  padding: 11px 20px 11px 26px;
  border-top: 1px solid #f4f5f6;

  // ksj
  &.hide {
    display: none;
  }

  .form-control {
    padding: 8px 20px;
    margin: 0 16px 0 6px;
    border-radius: 38px;
    background-color: #f4f5f6;
  }
}

.vote-result {
  border-top: 1px solid #f4f5f6;

  .tabs-line {
    .item {
      a {
        padding: 16px 6px 11px 6px;
      }
    }
  }
}

.result-list + .result-list {
  border-top: 6px solid #f4f5f6;
}

.vote-item {
  position: relative;
  padding: 20px 40px;
  border-bottom: 1px solid #f4f5f6;

  .vote-img {
    display: block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    @include pos-vertical($right: 40px);
  }
}

.votador-list {
  margin: 0 40px;

  li {
    p {
      position: relative;
      padding: 20px 0 20px 32px;

      &:before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        @include pos-vertical($left: 0);
      }

      &.manager:before {
        background: #ffba36 url(../../assets/images/member-manager.svg) no-repeat center / 12px;
      }

      &.member:before {
        background: #c9cad5 url(../../assets/images/member-member.svg) no-repeat center / 12px;
      }

      &.staff:before {
        background: #57576d url(../../assets/images/member-staff.svg) no-repeat center / 12px;
      }
    }
  }
}

.profile-inner {
  position: relative;
  padding: 13px 40px;
}

.profile-info {
  padding-left: 42px;
  background-position: left center;
  background-repeat: no-repeat;

  &.manager {
    background-image: url(../images/btn-round-manager.svg);
  }

  &.staff {
    background-image: url(../../assets/images/btn-round-staff.svg);
  }

  &.member {
    background-image: url(../../assets/images/btn-round-member.svg);
  }

  p {
    font-size: 16px;
    font-weight: 500;
  }

  span {
    font-size: 12px;
    color: #57576d;
  }
}

.profile-btn {
  @include pos-vertical($right: 40px);
}

.member-profile {
  .profile-list {
    padding: 0 40px;
    border-top: 1px solid #f4f5f6;

    .list-item {
      position: relative;
      padding: 15px 0;
      border-bottom: 1px solid #f4f5f6;
    }

    .list-tit {
      font-weight: 500;
      color: #848499;
    }

    .basic-info {
      @include pos-vertical($right: 0);

      p {
        letter-spacing: 0;
      }

      .accordion-tit {
        .accordion-btn {
          right: 0;
        }
      }
    }
  }
}

.profile-qna {
  p {
    padding: 10px 40px;

    &.question {
      line-height: 1.45;
      color: #57576d;
    }
    &.answer {
      line-height: 1.58;
      background-color: #f4f5f6;
    }
  }
}

.request-date {
  padding: 13px 40px 9px 64px;
  background: url(../../assets/images/time-outline.svg) no-repeat left 40px top 13px / 16px;
  font-size: 12px;
  line-height: 1.5;
  color: #57576d;
}

.join-detail {
  border-top: 1px solid #f4f5f6;
}

.join-detail-top, .enroll-tit {
  position: relative;
  border-bottom: 1px solid #f4f5f6;
  padding: 15px 0;
  margin: 0 40px;
}

.join-top-tit {
  font-weight: 500;
  color: #848499;
}

.join-top-txt {
  @include pos-vertical($right: 0);
}

.join-qna {

  p {
    padding: 10px 40px;
  }

  .join-qna-q {
    line-height: 1.45;
    color: #57576d;
  }

  .join-qna-a {
    line-height: 1.6;
    background-color: #f4f5f6;
  }
}

.class-profile {
  .profile-list {
    .list-item {
      padding: 15px 40px;
      border-bottom: 1px solid #f4f5f6;

      .list-tit {
        color: #848499;
      }
    }
  }

  .basic-info {
    text-align: right;
  }

  .basic-info-item {
    display: none;

    &.show {
      display: inline-block;
    }
  }

  .edit-btn {
    margin-left: 10px;
  }

  .list-popup {
    text-align: left;

    .list-popup-btn {
      span {
        margin-right: 0;
        font-size: 12px;
        color: #57576d;
      }
    }
  }
}

.qna-setting-top {
  position: relative;
  padding: 15px 40px;
  border-bottom: 1px solid #f4f5f6;

  p {
    color: #848499;
  }
}

.qna-setting-btn {
  @include pos-vertical($right: 40px);
}

.qna-setting-list {
  padding: 0 40px;

  > p {
    padding: 15px 0;
    font-weight: 500;
    color: #57576d;
  }

  &.disabled {
    opacity: 0.2;
  }
}

.qna-list {
  .list-item {
    overflow: hidden;
    padding: 15px 0;
    border-bottom: 1px solid #f4f5f6;
  }

  .num, .qna-input {
    float: left;
  }

  .num {
    display: inline-block;
    width: 20px;
    margin-right: 10px;
    line-height: 1.5;

    &.disabled {
      opacity: 0.2;
    }
  }

  .qna-input {
    .form-group {
      padding-right: 104px; // ksj
    }
    .form-control {
      font-size: 14px;
    }
  }
}

.info-top {
  margin-top: 10px;
  text-align: center;

  .group-type {
    font-weight: 700;
  }
}

.info-form {
  padding: 20px 40px 12px;

  label, .label {
    margin-bottom: 10px;
  }
}

.tag-cnt {
  margin-top: 30px;
}

.tag-list {
  display: inline-block;

  .hashtag {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.apply-list, .member-management-list {
  padding: 0 40px;
  border-top: 1px solid #f4f5f6;
}

.apply-item, .member-item {
  position: relative;
  padding: 15px 0;
  border-bottom: 1px solid #f4f5f6;
}

.apply-name, .member-name {
  font-weight: 500;
}

.apply-date, .member-date, .member-tit {
  margin-top: 2px;
  font-size: 12px;
  color: #57576d;

  span {
    line-height: 1.5;
  }
}

.apply-more, .member-more {
  @include pos-vertical($right: 0);

  &.clear {
    font-weight: 500;
    color: #ff4d4d;
  }

  &.add {
    font-weight: 500;
    color: #1d1d4c;
  }
}

.member-type {
  position: relative;
  padding-left: 40px;

  &:before {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    @include pos-vertical($left: 0);
  }

  &.manager:before {
    background: #ffba36 url(../images/btn-round-manager.svg) no-repeat center;
  }

  &.staff:before {
    background: #c9cad5 url(../../assets/images/btn-round-staff.svg) no-repeat center;
  }

  &.member:before {
    background: #57576d url(../../assets/images/btn-round-member.svg) no-repeat center;
  }

}

.chang-type {
  display: block;
  padding: 15px 0;
  font-weight: 500;
  color: #ff4d4d !important; // customVuetify 때문에 important 필요 - ksj
}


.member-activity {
  .activity-tit {
    position: relative;
    padding: 10px 40px;
    color: #57576d;

    &.grey {
      background-color: #f4f5f6;
    }

    strong {
      font-weight: 500;
      color: #0f0f15;
    }

    .more-btn {
      @include pos-vertical($right: 40px);
    }
  }
}

.auth-list {
  li {
    position: relative;
    padding: 15px 0;
    border-top: 1px solid #f4f5f6;
  }

  .auth-btn {
    @include pos-vertical($right: 0);
  }

  .auth-tit {
    fons-weight: 500;
    color: #57576d;
  }
}

.add-staff {
  margin-top: -1px;
  border-top: 1px solid #f3f4f5;
  border-bottom: 1px solid #f3f4f5;

  .txt-btn {
    display: block;
    padding: 13px 0;
    text-align: center;
    color: #57576d;

    img {
      margin-right: 10px;
      opacity: 0.6;
    }
  }
}

.popup-footer {
  position: relative;
  padding: 30px 40px;
}

.popup-search-input {
  @include pos-vertical($left: 40px);

  .form-control {
    border: none;
    padding: 0;
  }
}

.viewer-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.viewer-close {
  @include pos-abs($right: 30px, $top: 30px);
}

.viewer-list {
  .viewer-item {
    display: none;
    @include pos-abs($left: 50%, $top: 50%);
    transform: translate(-50%, -50%);

    &.active {
      display: block;
    }
  }
}

.viewer-control {
  .control {
    &.prev {
      @include pos-vertical($left: 0);
    }

    &.next {
      @include pos-vertical($right: 0);
    }
  }
}

.viewer-page {
  @include pos-abs($left: 50%, $bottom: 18px);
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  transform: translateX(-50%);
}

.modal-enter-active, .modal-leave-active {
  transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

//.modal-enter .popup-dialog,
.modal-leave-active .popup-dialog {
  transform: translate(-50%, -50%) scale(0.3);
  transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

//draggable 관련
.ghost {
  opacity: 0.7;
  background: #c8ebfb;
}

.flip-list-move {
  transition: transform 0.5s;
}

.no-move {
  transition: transform 0s;
}
