
// -enter-active( enter, enter-to )
/* router page change motion */
.page-change-enter-active {
    transition: all 0.35s ease;
}
.page-change-leave-active {
    transition: all 0.75s ease;
}
// -leave-active( leave, leave-to )
.page-change{
    position: absolute;
}
.page-change-enter{
    opacity: 0;
    transform: scale(0.8);
}
.page-change-leave-to{
    // 비활성화 되어 있는 엘리먼트가 relative 가 되어 있기에 등장시 삐걱거림이 있기에 포지션을 절대값으로 해둔다.
    opacity: 0;
    transform:translateY(100%) rotateZ(45deg);
}
/* slide out motion */
.slide-out-enter-active {
    transition: all .75s ease;
}
.slide-out-leave-active {
    transition: all .75s;
}
// -leave-active( leave, leave-to )
.slide-out-enter{
    opacity: 0;
    transform: translateX(10%);
}
.slide-out-leave-to{
    opacity: 0;
    transform: translateX(-10%);
}


/* slide out motion */
.slideY-enter-active{
    transition: all .75s ease;
}
.slideY-leave-active {
    transition: all .75s;
}
// -leave-active( leave, leave-to )
// 진입시
.slideY-enter{
    opacity: 0;
    transform: translateY(20%);
    transition: all .75s ease;
}
// 진출시
.slideY-leave-to{
    opacity: 0;
    transform: translateY(-20%);
}







/* slide out motion */
.fade-enter-active {
    transition: all .75s ease;
}
.fade-leave-active {
    transition: all .75s;
}
// -leave-active( leave, leave-to )
.fade-enter{
    opacity: 1;
}
.fade-leave-to{
    opacity: 0;
}
.shake{
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
.short-shake{
    animation: shake-horizontal 0.3s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@keyframes shake-horizontal {
    0%,
    100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
        transform: translateX(10px);
    }
    80% {
        transform: translateX(8px);
    }
    90% {
        transform: translateX(-8px);
    }
}
