
$border-bt: 1px solid #f4f5f6;
$mb: 210px;
$main-red: #ff4d4d;

$total:52;

@for $i from 0 through $total {
  $unit: if($i == 0,  !important, px !important);

  .mgt-#{$i} {
    margin-top:  #{$i}#{$unit};
  }
  .mgb-#{$i} {
    margin-bottom:  #{$i}#{$unit};
  }
  .mgl-#{$i} {
    margin-left:  #{$i}#{$unit};
  }
  .mgr-#{$i} {
    margin-right:  #{$i}#{$unit};
  }
  .pdt-#{$i} {
    padding-top:  #{$i}#{$unit};
  }
  .pdb-#{$i} {
    padding-bottom:  #{$i}#{$unit};
  }
  .pdl-#{$i} {
    padding-left:  #{$i}#{$unit};
  }
  .pdr-#{$i} {
    padding-right:  #{$i}#{$unit};
  }

  .wd-#{$i} {
    width:  #{$i}#{$unit};
  }
}




