@charset "utf-8";

@import "./variable";
@import "./mixin";

/* css reset */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
br,
figure,
figcaption,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
strong,
time,
mark,
audio,
video,
button,
input {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-touch-callout: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 165, 181, 0.1);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
}

address,
em,
i {
  font-style: normal;
}

img {
  border: none;
  vertical-align: middle;
}

ol,
ul,
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset {
  border: none;
}

legend,
caption {
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
  line-height: 0;
  font-size: 0;
  position: absolute;
  left: -999px;
}

input,
select,
button,
textarea {
  outline: none;
}

textarea {
  resize: none;
}

button,
input[type="button"] {
  padding: 0;
  margin: 0;
  border: none;
  vertical-align: middle;
  cursor: pointer;
}

input {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: middle;
}

input[type="text"]::-ms-clear {
  display: none;
}

input[type="password"]::-ms-clear {
  display: none;
}

button:focus {
  outline: 0;
}

button {
  background: none;
}

.clearfix {
  *zoom: 1;
}

.clearfix:after, .footer-inner:after, .tabs-line:after, .contents-group:after, .add-curr-item:after{
  content: "";
  display: block;
  clear: both;
}

/*===========================================================================
	FONT
============================================================================*/
html,
body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #1d1d1d;
  //letter-spacing: -0.5px;
  line-height:1.4;
  background-color: #f6f7fa;
}

.ft-bold {font-weight: bold;}
.ct {text-align:center !important;}
.lt {text-align:left !important;}
.rt {text-align:right !important;}

.bd-top {border-top:1px solid #f4f5f6;}
.bd-btm {border-bottom:1px solid #f4f5f6;}

.fc-red {color:#ff4d4d !important;}
.fc-gray {color:#57576d !important;}

.fs-12 {font-size:12px !important;}
.fs-16 {font-size:16px !important;}
.fs-18 {font-size:18px !important;}

.vt {vertical-align: top !important;}

.bd-none {border:none !important;}
.pd-none {padding:0 !important;}
.float-lt{float: left !important;}
.float-rt{float: right !important;}
.wd-half{width:50%;}

.required {
  &:after {
    content:'';
    display:inline-block;
    width:4px;
    height:4px;
    margin-left:6px;
    border-radius:50%;
    vertical-align:middle;
    background-color:#ff4d4d;
  }
}

.after-line {
  position:relative;
  &:after {
    content:'';
    position:absolute;
    display:block;
    width:1px;
    height:16px;
    top:50%;
    right:0;
    transform:translateY(-50%);
    background-color:#848499;
  }
}

.thumb, .icon-img {
  width:100%;
  &.sm {width:18px;height:18px;}
}

.color-mark {
  position:absolute;
  display: block;
  width:12px;
  height:12px;
  bottom:0;
  right:0;
  border-radius:50%;
  border:2px solid #fff;

  &.pos-rel {position:relative;display:inline-block;}

  &.red {background-color:#ff4d4d;}
  &.yellow {background-color:#ffd100;}
  &.blue {background-color:#2183de;}
  &.pink {background-color:#ff90aa;}
  &.aqua {background-color:#1cdbc9;}
  &.black {background-color:#0f0f15;}
}

.profile-img {width:32px;height:32px;display:inline-block;}

// tab-list
.tabs-line {
  border-bottom:1px solid #f4f5f6;

  @include columnWidth('.item');

  .item {
    float:left;
    text-align:center;
    font-size:16px;
    color:#57576d;
    letter-spacing:0;

    a {
      position:relative;
      display:inline-block;
      padding:0 6px 11px 6px;
      &:after {
        content:'';
        position:absolute;
        width:100%;
        height:2px;
        bottom:0;
        left:0;
        background-color:#0f0f15;
        transform: scale(0);
        transition: all 0.35s ease;
      }
    }

    &.active {
      a {
        font-weight:500;
        &:after {transform: scale(1);}
      }
    }
  }
}


// tb-style
.tb-style {
  display:table;
  &.full {
    width:100%;
  }

}
.tb-row {display:table-row;}
.tb-cell {
  display:table-cell;
  vertical-align:middle;
  &.top{vertical-align: top;}
  &.mid{vertical-align: middle;}
  &.btm{vertical-align: bottom;}
}




// accordion
  .accordion-tit {
    position:relative;
    border-bottom:1px solid #f4f5f6;

    button.accordion-btn {
      position:absolute;
      display:block;
      width:24px;
      height:24px;
      top:50%;
      right:20px;
      transform: translateY(-50%) rotate(0deg);
      -webkit-transition: all 0.5s ease;
      transition: all 0.2s ease;
      background:url(../../assets/images/arrow-down.svg) no-repeat center;

      &.active {
        transform: translateY(-50%) rotate(-180deg);
        -webkit-transition: all 0.5s ease;
        transition: all 0.2s ease;
      }

      &.sm {
        width:18px;
        height:18px;
        background-size:18px 18px;
      }
      &.rt-10 {right:10px;}
    }

    a.accordion-btn {
      position:relative;
      display:block;

      &:after {
        content:'';
        position:absolute;
        display:block;
        width:24px;
        height:24px;
        top:50%;
        right:20px;
        transform: translateY(-50%) rotate(0deg);
        -webkit-transition: all 0.5s ease;
        transition: all 0.2s ease;
        background:url(../../assets/images/arrow-down.svg) no-repeat center;
      }

      &.active {
        &:after {
          transform: translateY(-50%) rotate(-180deg);
          -webkit-transition: all 0.5s ease;
          transition: all 0.2s ease;
        }
      }
    }
  }

  .accordion-cnt {
    display:none;
    &.active {
      display:block;
    }
  }

.main-txt {
  padding:80px 0 230px 30px;
  background:url(../../assets/images/illust-welcome.png) no-repeat right top;

  p {
    font-size:16px;
    color:#57576d;
    strong {font-weight:500;}
  }
}

.main-tit {font-size:26px;font-weight:500;line-height:1.5;}

.hashtag{
  position: relative;
  display: inline-block;
  float: left;
  font-size: 12px;

  .tag-label {
    display: inline-block;
    padding: 6px 34px 6px 16px;
    line-height: 1.45;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    color: #373749;
    border-radius: 32px;
    background-color: #f4f5f6;
  }

  .tag-delete {
    position: absolute;
    @include pos-vertical($right: 4px);
  }
}

.pos-right{
  @include pos-abs($top:0, $right:0);
}
.img-responsive{
  max-width: 100%;
  height:auto;
}
.comment-container{
  position: relative;
  width: 100%;
  height: 330px;
  padding: 60px 40px 40px;
  background-color: #fff;
  text-align: center;
}
.comment{
  width:100%;
  padding-top:100px;
  font-size: 16px;
  &.none{font-size: 16px;color: #1d1d1d;}
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 8px;
  font-size: 12px;
  color: #fff;
  border-radius: 2px;
  background-color: #fb0a0a;
}
/*단어별 줄 바꿈*/
.word-bk {
  word-wrap: break-word;
  word-break: keep-all;
}

@import "./customVuetify";
@import "./transition";
@import "./layout";
@import "./form";
@import "./button";
@import "./table";
@import "./popup";
@import "./class";
@import "./login";
@import "./join";
@import "./search";
@import "./mypage";
@import "./skeleton";
@import "./loadingbar";


