.login {background-color:#1d1d4c;}

.login-form {
  width:1020px;
  margin:0 auto;
  padding:40px 0 60px;
  background: url(../../assets/images/illust-login.png) no-repeat left bottom 84px / 62%;

  .form-group + .form-group {margin-top:30px;}

  .form-cnt {
    position:relative;
    width: 420px;
    height: 660px;
    float:right;
    padding: 60px 40px 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(15, 15, 21, 0.05);
    background-color: #fff;
    &.pd-desc {padding:0;}
    .login-tit {padding-top:20px;font-size:24px;color:#0f0f15;font-weight:500;}
    .form-input {margin-top:40px;}
    .login-helper {
      position:absolute;
      width:100%;
      bottom:40px;
      left:50%;
      transform:translateX(-50%);
      text-align:center;
      line-height:1.57;
      color:#57576d;
      .find-info {
        margin-bottom:5px;
        a {padding-right:14px;}
      }
    }
    .form-tab {
      padding-top:40px;
      border-bottom:1px solid #f4f5f6;
      .tabs-line {
        width:80%;
        margin:0 auto;
        border-bottom:0;
      }
    }
    .find-txt {padding:18px 40px;color:#57576d;border-bottom:1px solid #f4f5f6;}
    .find-info {
      padding:0 40px;
      margin-top:-1px;
      border-top:1px solid #f4f5f6;
      border-bottom:1px solid #f4f5f6;
      .find-type {padding:20px 0;}
      .find-info-input {
        display:none;
        padding:0 0 40px 30px;
        &.active {display:block;}
      }
    }
    .find-btn {
      position:absolute;
      width:100%;
      padding:0 40px;
      bottom:60px;
      left:50%;
      transform:translateX(-50%);
    }
    .page-back {
      position:absolute;
      width:100%;
      bottom:30px;
      left:50%;
      padding:0 40px;
      transform:translateX(-50%);
      text-align:right;
      font-weight:500;
    }
    .find-card {
      height:446px;
      padding:30px 40px;
      .card-tit {font-size:16px;color:#57576d;}
      &.result {background:url(../../assets/images/illust-confirm.png) no-repeat bottom center;}
      &.send {background:url(../../assets/images/illust-email.png) no-repeat bottom center;}
    }
    .reset-pw-input {
      padding:18px 40px;
      .reset-txt {color:#57576d;margin-bottom:30px;}
    }
  }
}
