@import "./mixin.scss";

.mypage-list {
  ul {
    background-color:#fff;
    border-radius:5px;
    box-shadow: 0 0 10px 0 rgba(15, 15, 21, 0.05);
    li {
      a {
        display:block;
        padding:13px 30px;
        img {margin-right:20px;}
        &.active, &:hover {background-color:#f4f5f6;}
      }
    }
  }
}

.mypage-cnt {
  margin-top:10px;
  .my-profile-section + .my-profile-section{margin-top:20px;}
  .section-tit {font-size:12px;color:#57576d;}

  .my-profile-list {
    margin-top:10px;
    .list-item {
      position:relative;
      padding:15px 20px;
      background-color:#fff;
      &:after {content: "";display: block;clear: both;}
      + .list-item {border-top:1px solid #f4f5f6;}

      .list-tit {float:left;font-weight:500;color:#848499}

      .list-right {
        float:right;
        .list-btn {margin-left:6px;}
      }
    }
  }

  .my-chage {
    padding:40px 60px;
    border-radius:5px;
    background-color:#fff;
    h3 {
      padding-bottom:20px;
      border-bottom:1px solid #f4f5f6;
      font-size:18px;
      font-weight:500;
      text-align:center;
    }
    .btn-box {
      margin-top:64px;
      text-align:right;
    }
  }

  .bookmark-top, .customer-top {
    position:relative;
    padding:20px;
    background-color:#fff;
    .txt-btn {
      font-weight:400;
      color:#57576d;
      &.active {font-weight:500;color:#0f0f15;}
      + .txt-btn {margin-left:30px;}
    }
    &.pd-desc{padding: 15px 20px;}
  }

  .bookmark-btn {
    @include pos-vertical($right:20px);
    .btn {
      padding:5px 23px 3px;
      line-height:1.5;
      color:#373749;
    }
  }

  .bookmark-list {
    .bookmark-item {
      position:relative;
      margin-top:10px;
      padding:20px;
      border-radius:5px;
      border:1px solid #f4f5f6;
      background-color:#fff;
    }
    .bookmark-class {font-size:12px;}
    .bookmark-tit {
      width:80%;
      margin-top:4px;
      font-weight:500;
      font-size:16px;
      white-space:nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .bookmark-option-btn {
      @include pos-abs($right:20px, $top:20px);
      .list-popup {margin-left:16px;}
    }

    .item-cnt {
      margin-top:10px;
      .post-txt {
        color:#57576d;
        &.none {color:#c9cad5;}
      }
      .schedule-box {
        margin-top:10px;
        padding:15px 20px 15px 48px;
        border-radius:5px;
        border:1px solid #c9cad5;
        background:url(../../assets/images/classmenu-plan-outline.svg) no-repeat left 20px center / 18px;
        p {color:#57576d;}
      }

      .post-sub {
        margin-top:20px;
        overflow:hidden;
        span {
          float:left;
          font-size:12px;
          &:after {content:'・';display:inline-block;padding:0 6px;}
          &.date {color:#57576d;}
          &:last-child:after {display:none;}
        }
      }
    }
  }

  .my-terms{
    .txt-cnt {
      padding: 10px 27px 10px 20px;
      color: #1d1d1d;
      &.bg-grey {background-color: #f4f5f6;}
    }
    .notice-dep1 {
      span {font-weight: normal;line-height: 2.3;}
    }
  }

  .my-notice, .my-customer {
    .panel-tit {font-size: 16px;}
    .detail-info {font-size: 14px;line-height: 22px;color: #7a7a7a;}
    .td-tit{color: #848499;font-weight: 500;}
    .td-date {color: #7a7a7a;font-size: 12px;vertical-align: bottom;}
    .txt-overflow{
      overflow: hidden;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: text-bottom;
    }
  }
}

/* accordion menu */
.collapse:not(.show) {display:none;}
.panel-group {margin-bottom:0;}
.panel{
  margin-top: 8px;
  margin-bottom: 0;
  box-shadow: none;
  border-bottom: 1px solid #f4f5f6;
  &:first-child {margin-top: 0;}
}

.panel-heading{
  padding:15px 20px;
  background-color: #fff;
  .bt-cnt{
    position: relative;
    display: block;
    width: 100%;
    line-height:18px;
    .bt-icon {
      position: absolute;
      top:50%;
      right: 0;
      transform:translateY(-50%) rotate(-180deg);
      transition: all .3s ease-in-out;
    }
    &.collapsed .bt-icon {transform:translateY(-50%) rotate(0deg);transition: all .3s ease-in-out;}
  }
  .agr-txt{float: right;font-size: 12px;color: #629f00;}
}
.panel-body{padding:20px;color:#000;border-top:1px solid #f4f5f6;}
.panel-group .panel+.panel{margin-top:0;}

