// table
.tb-cnt {
  .tb {
    width:100%;
    .top {vertical-align: top;}
    .mid {vertical-align: middle;}
    .btm {vertical-align: bottom;}

    &.tb-form {
      tr{
        th, td {
          padding-top:45px;
          .form-group {
            + .form-group {margin-top:40px;}
          }
        }

        th {font-weight:500;color:#57576d;}

        &:first-child {
          th, td {padding-top:0;}
        }
      }
    }

    // search page table
    &.tb-search {
      position: relative;
      tr {
        th,td {
          text-align:left;
          font-weight:500;
        }
        th {
          padding:11px 10px 11px 10px;
          font-size:12px;
          color:#848499;
          background-color:#f4f5f6;

          strong {font-weight:500; color:#0f0f15;}
        }
        td {
          padding:14px 10px;
          background-color:#fff;
          vertical-align: top;
          border-bottom:1px solid #f4f5f6;
        }
      }
    }

    // my page table
    &.basic {
      thead {
        th {
          padding:15px 0 15px 20px;
          text-align:left;
          font-weight:500;
          font-size: 12px;
          color:#848499;
        }
      }

      tbody {
        th, td {
          padding:15px 0 15px 20px;
          border-top:1px solid #f4f5f6;
          border-bottom:1px solid #f4f5f6;
          background-color:#fff;
        }
      }
      tr:first-child > td {border-top: none;}
    }

    // accordion table
    &.accordion {
      .panel-td {padding: 0;border: 0;}
      .panel-heading {
        padding: 0;
        .bt-cnt .bt-icon {right: auto;}
      }
      .panel-body {border-top: 0;}
    }
  }
}



