.login .membership {
  color: #fff;
  float: right;
  font-size: 14px;
  line-height: 38px;
}
.login .con-inner {
  width: 1040px;
  height: 760px;
  margin: 60px auto 0 auto;
  position: relative;
}
.login .con-inner:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 667px;
  height: 378px;
  margin-top: 200px;
  background: url(../images/illust-login.png) no-repeat 0 0;
}
.login .con-inner .login-main-wrap {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  width: 420px;
  height: 660px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(15, 15, 21, 0.05);
  padding: 40px;
  background-color: #fff;
}
.login .con-inner .login-main-wrap .login-maintxt {
  font-size: 24px;
  padding-top: 24px;
}
.login .con-inner .login-main-wrap .login-box {
  padding: 40px 0;
  font-size: 14px;
  font-weight: 500;
  color: #57576d;
}
.login .con-inner .login-main-wrap .login-box input[value] {
  color: #d9d9d9;
}
.login .con-inner .login-main-wrap .login-box input[type=text],
.login .con-inner .login-main-wrap .login-box input[type=password] {
  background-color: #ffffff;
  width: 340px;
  padding: 5px 0 0 0;
  border-bottom: 1px solid #c9cad5;
  line-height: 38px;
  font-size: 16px;
  letter-spacing: 1px;
  color: #57576d;
}
.login .con-inner .login-main-wrap .login-box input[type=text]::-moz-placeholder,
.login .con-inner .login-main-wrap .login-box input[type=password]::-moz-placeholder {
  color: #c9cad5;
}
.login .con-inner .login-main-wrap .login-box input[type=text]:-ms-input-placeholder,
.login .con-inner .login-main-wrap .login-box input[type=password]:-ms-input-placeholder {
  color: #c9cad5;
}
.login .con-inner .login-main-wrap .login-box input[type=text]::-webkit-input-placeholder,
.login .con-inner .login-main-wrap .login-box input[type=password]::-webkit-input-placeholder {
  color: #c9cad5;
}
.login .con-inner .login-main-wrap .login-box .login-box-id {
  padding-bottom: 35px;
}
.login .con-inner .login-main-wrap .btn-login {
  width: 340px;
  height: 48px;
  border-radius: 24px;
  background-color: #ff4d4d;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.login .info-wrap {
  text-align: center;
  margin-top: 180px;
}
.login .info-wrap-find, .login .info-wrap-join {
  position: relative;
}
.login .info-wrap-find .link-txt, .login .info-wrap-join .link-txt {
  position: relative;
  display: inline-block;
  padding: 0 10px;
  font-weight: 500;
  font-size: 14px;
}
.login .info-wrap-find .link-txt ~ .link-txt:before, .login .info-wrap-join .link-txt ~ .link-txt:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 16px;
  background-color: #999;
}
.login .info-wrap-join {
  margin-top: 6px;
}
.login .info-wrap-join span {
  color: #6d6d6d;
  font-size: 14px;
  padding-left: 10px;
}

.login-sub-wrap {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  width: 420px;
  height: 660px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(15, 15, 21, 0.05);
  background-color: #fff;
}
.login-sub-wrap .lg-link-find {
  padding: 45px 40px 10px 40px;
  display: table;
  width: 100%;
  position: relative;
  border-bottom: 1px solid rgba(217, 217, 217, 0.5);
}
.login-sub-wrap .lg-link-find li {
  display: table-cell;
  width: 50%;
  text-align: center;
}
.login-sub-wrap .lg-link-find li a {
  height: 20px;
  font-size: 16px;
  text-align: center;
}
.login-sub-wrap .lg-link-find .id-txt {
  color: #0f0f15;
  font-weight: 500;
}
.login-sub-wrap .lg-link-find .id-txt:after {
  border-bottom: 2px solid #0f0f15;
  content: "";
  display: block;
  width: 90px;
  position: absolute;
  bottom: -1px;
  left: 79px;
}
.login-sub-wrap .lg-link-find .pw-txt {
  color: #57576d;
}
.login-sub-wrap .login-txt {
  font-size: 14px;
  color: #57576d;
  line-height: 1.57;
}
.login-sub-wrap .find-wrap {
  padding-bottom: 40px;
  position: relative;
}
.login-sub-wrap .find-wrap-txt {
  line-height: 1.57;
  color: #373749;
  font-size: 14px;
}
.login-sub-wrap .find-wrap-txt input[type=radio] {
  margin-right: 13px;
}
.login-sub-wrap .find-wrap-blank .txt-field {
  width: 210px;
  border-bottom: 1px solid #373749;
  padding: 30px 0 10px 0;
  margin-left: 30px;
  font-size: 14px;
  opacity: 0.2;
}
.login-sub-wrap .find-wrap .verify-btn {
  width: 80px;
  height: 32px;
  border-radius: 16px;
  background-color: #f6f6f6;
  color: #d9d9d9;
  font-size: 12px;
  position: absolute;
  top: 68px;
  right: 40px;
}
.login-sub-wrap .confirm-btn-wrap {
  width: 100%;
  text-align: center;
}
.login-sub-wrap .confirm-btn-wrap .confirm-btn {
  width: 340px;
  height: 48px;
  border-radius: 24px;
  background-color: #ff4d4d;
  opacity: 0.2;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.login-sub-wrap .back-lg-wrap {
  width: 100%;
  text-align: right;
  padding: 10px 40px;
}
.login-sub-wrap .back-lg-btn {
  font-weight: 500;
  font-size: 14px;
  color: #0f0f15;
}

.con-sub-box {
  padding: 40px;
  font-size: 16px;
  letter-spacing: 1px;
  color: #57576d;
  line-height: 22px;
}
.con-sub-box .bg-back {
  background: url(/dist/images/illust-confirm.png) no-repeat 0 0;
  width: 320px;
  height: 273px;
  margin: 80px auto 0 auto;
}

.back-btn-wrap {
  width: 100%;
  text-align: center;
}
.back-btn-wrap .back-btn {
  width: 340px;
  height: 48px;
  border-radius: 24px;
  background-color: #ff4d4d;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.find-info-box {
  margin-bottom: 210px;
}

.bg-back2 {
  background: url(/dist/images/illust-email.png) no-repeat 0 0;
  width: 260px;
  height: 295px;
  margin: 58px auto 0 auto;
}

.verify-btn2 {
  width: 80px;
  height: 32px;
  border-radius: 16px;
  background-color: #f6f6f6;
  color: #d9d9d9;
  font-size: 12px;
  position: absolute;
  top: 127px;
  right: 40px;
}

.margin100 {
  margin-bottom: 152px;
}

.reset-pw-txt {
  color: #0f0f15;
  font-weight: 500;
}
.reset-pw-txt:after {
  border-bottom: 2px solid #0f0f15;
  content: "";
  display: block;
  width: 120px;
  position: absolute;
  bottom: -1px;
  right: 65px;
}

.reset-id-txt {
  color: #57576d;
}

.reset-info-box {
  margin-bottom: 152px;
}

.new-pw-wrap {
  padding: 20px 40px;
  margin-bottom: 270px;
}
.new-pw-wrap .new-pw-txt {
  font-size: 14px;
  color: #57576d;
  line-height: 22px;
}
.new-pw-wrap input[type=password] {
  width: 340px;
  padding: 25px 0 0 0;
  border-bottom: 1px solid #c9cad5;
  line-height: 38px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #57576d;
  background-color: #ffffff;
}
.new-pw-wrap input[type=password]::-moz-placeholder {
  color: #c9cad5;
}
.new-pw-wrap input[type=password]:-ms-input-placeholder {
  color: #c9cad5;
}
.new-pw-wrap input[type=password]::-webkit-input-placeholder {
  color: #c9cad5;
}

.signUp-page {
  width: 100%;
  background-color: #f4f5f6;
}
.signUp-page .logintxt {
  color: black;
  float: right;
  font-size: 14px;
  padding: 10px 20px 0 20px;
}
.signUp-page .contents {
  margin: 100px 0;
}
.signUp-page .contents-login {
  padding-bottom: 180px;
}
.signUp-page .contents-signup {
  margin: 40px 0 100px 0;
}
.signUp-page .contents .con-size .text-group {
  position: relative;
  width: 1020px;
  margin: 0 auto;
  padding: 70px 0 40px 0;
  font-size: 16px;
}
.signUp-page .contents .con-size .text-group h2 {
  padding-bottom: 30px;
  line-height: 35px;
  font-size: 26px;
}
.signUp-page .contents .con-size .text-group .text-pd {
  padding-top: 20px;
}
.signUp-page .contents .con-size .text-group:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 390px;
  height: 402px;
  background: url(../images/illust-welcome.png) no-repeat 0 0;
}

.signup-box {
  width: 100%;
  margin-top: 145px;
  display: table;
  height: 257px;
  color: #fff;
  overflow: hidden;
}
.signup-box p {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 15px;
}
.signup-box .signup-area {
  width: 50%;
  padding: 40px 35px 0 0;
  display: table-cell;
}
.signup-box .signup-area.left {
  background-color: #1d1d4c;
}
.signup-box .signup-area.right {
  padding: 40px 0 0 35px;
  background-color: #ff4d4d;
}
.signup-box .signup-area .desc-group {
  position: relative;
  width: 480px;
  height: 165px;
}

.btn-circle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url(../images/arrow-right.png) no-repeat 13px 13px #fff;
}

.membertxt {
  font-size: 26px;
  text-align: center;
  color: #0f0f15;
}

.con-box {
  width: 800px;
  padding: 40px 60px;
  margin: 40px auto 100px auto;
  box-shadow: 0 0 10px 0 rgba(15, 15, 21, 0.05);
  background-color: #fff;
}
.con-box .verify-txt {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #0f0f15;
  border-bottom: 1px solid #f4f5f6;
  padding-bottom: 20px;
}
.con-box .contents-list {
  border-bottom: 1px solid #f4f5f6;
  padding: 18px;
  color: #0f0f15;
  position: relative;
  font-size: 16px;
}
.con-box .contents-list .contents-list > input[type=checkbox] {
  position: absolute;
  left: 0;
  top: 10px;
  width: 24px;
  height: 24px;
}
.con-box .last-list {
  margin-bottom: 60px;
}
.con-box .scrollbox {
  overflow-y: scroll;
  width: 680px;
  height: 200px;
  padding: 20px 20px 0 54px;
  font-size: 14px;
  color: #57576d;
  line-height: 22px;
  background-color: #f4f5f6;
}
.con-box .scrollbox .title-txt {
  padding: 10px 0;
}

.btnbox {
  text-align: right;
}
.btnbox .btn-next-g {
  width: 120px;
  line-height: 42px;
  border-radius: 20px;
  color: #fff;
  background-color: #c9cad5;
}

.contents-list > input[type=checkbox] + label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1.5px solid #c9cad5;
  cursor: pointer;
}

.contents-list > input[type=checkbox]:checked + label {
  width: 20px;
  height: 20px;
  background: url(../images/check.png) no-repeat -9px -9px;
  border: 1.5px solid #57576d;
}

.check-all,
.btn-check {
  display: inline-block;
  width: 600px;
  margin-left: 32px;
  font-weight: 400;
}

.btn-check {
  background: url(../images/arrowdown.png) no-repeat right;
}

.btn-check.on {
  background: url(../images/arrow-up.png) no-repeat right;
}

.btn-box {
  text-align: left;
  margin-top: 45px;
}
.btn-box .btn-into {
  width: 120px;
  line-height: 40px;
  font-size: 14px;
  color: #fff;
  border-radius: 31px;
  background-color: #ff4d4d;
}

.card-box {
  width: 800px;
  padding: 40px 60px;
  margin: 0 auto;
  box-shadow: 0 0 10px 0 rgba(15, 15, 21, 0.05);
  background-color: #fff;
}
.card-box .verify-txt {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #0f0f15;
  border-bottom: 1px solid #f4f5f6;
  padding-bottom: 20px;
}
.card-box .card-inner {
  text-align: center;
  padding: 30px 30px 10px 30px;
}
.card-box .card-inner .txt-p {
  font-size: 16px;
  color: #0f0f15;
}
.card-box .card-inner .txt-s {
  font-size: 14px;
  color: #57576d;
  padding-top: 10px;
}
.card-box .card-mb {
  padding-bottom: 184px;
}
.card-box .txt-pb {
  padding-bottom: 30px;
}

.btn-group {
  width: 100%;
  text-align: center;
}
.btn-group .btn-verify {
  width: 158px;
  line-height: 40px;
  font-size: 14px;
  color: #fff;
  border-radius: 31px;
  background-color: #ff4d4d;
}

.btnbox {
  text-align: right;
}
.btnbox .btn-prev-w,
.btnbox .btn-next-g {
  width: 120px;
  height: 40px;
  line-height: 42px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 14px;
}
.btnbox .btn-prev-w {
  color: #57576d;
  border: 1px solid #c9cad5;
  margin-right: 10px;
  background-color: #fff;
}
.btnbox .btn-next-g {
  color: #fff;
  background-color: #c9cad5;
}

.card-inner-bg:after {
  content: "";
  display: inline-block;
  width: 233px;
  height: 199px;
  margin-top: 20px;
  background: url(../images/illust-confirm-small.png) no-repeat 0 0;
}

.signUp-form {
  width: 100%;
  background-color: #f4f5f6;
}
.signUp-form .logintxt {
  color: black;
  float: right;
  font-size: 14px;
  padding: 10px 20px 0 20px;
}
.signUp-form .txt-wrap-m {
  padding: 30px 0 0 40px;
}
.signUp-form .txt-wrap-m:nth-of-type(1) {
  font-size: 14px;
  color: #0f0f15;
}
.signUp-form .txt-wrap-m .txt-s {
  padding-top: 3px;
  font-size: 12px;
  color: #57576d;
}

.table-wrap {
  width: 600px;
  margin: 0 auto;
}
.table-wrap .t-body .t-head {
  width: 20%;
}
.table-wrap .t-body .t-head .label-style {
  font-size: 14px;
  color: #373749;
  margin: 50px 0 10px 0;
  letter-spacing: 1px;
  font-weight: 500;
  color: #57576d;
}
.table-wrap .t-body .t-head .reddot {
  position: relative;
}
.table-wrap .t-body .t-head .reddot:before {
  position: absolute;
  top: 7px;
  right: -10px;
  content: "";
  clear: both;
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #ff4d4d;
  border-radius: 50%;
}
.table-wrap .t-body .t-head > .pw-modify {
  padding-bottom: 80px;
}
.table-wrap .t-body .t-head > .cell-modify {
  margin: 0;
}
.table-wrap .t-body .t-head > .add-modify {
  padding-bottom: 155px;
}

.input-style {
  width: 390px;
  font-size: 14px;
  color: #373749;
  padding: 50px 0 10px 0;
  border-bottom: 1px solid #c9cad5;
  letter-spacing: 1px;
}
.input-style::-moz-placeholder {
  color: #373749;
  opacity: 0.2;
}
.input-style:-ms-input-placeholder {
  color: #373749;
  opacity: 0.2;
}
.input-style::-webkit-input-placeholder {
  color: #373749;
  opacity: 0.2;
}

.form-checkbox {
  padding-top: 50px;
}

.form-checkbox > input[type=checkbox] + label {
  display: inline-block;
  width: 23px;
  height: 23px;
  border: 1px solid #c9cad5;
  cursor: pointer;
}

.form-checkbox > input[type=checkbox]:checked + label {
  width: 23px;
  height: 23px;
  background: url(../images/arrowdown.png) no-repeat -2px -3px;
}

.btn-agree {
  display: inline-block;
  width: 250px;
  line-height: 23px;
  color: #57576d;
  font-size: 14px;
  font-weight: 400;
  margin-left: 35px;
}

.input-modify {
  width: 390px;
  font-size: 14px;
  color: #373749;
  padding: 20px 0 10px 0;
  border-bottom: 1px solid #c9cad5;
  letter-spacing: 1px;
}
.input-modify::-moz-placeholder {
  color: #373749;
  opacity: 0.2;
}
.input-modify:-ms-input-placeholder {
  color: #373749;
  opacity: 0.2;
}
.input-modify::-webkit-input-placeholder {
  color: #373749;
  opacity: 0.2;
}

.radio-wrap {
  padding: 42px 0 10px 0;
}
.radio-wrap .radio-list {
  display: inline-block;
  margin-right: 60px;
}

.txt-email {
  color: #57576d;
  opacity: 0.2;
  font-size: 14px;
  margin-bottom: 60px;
}

.btn-wrap {
  position: relative;
}
.btn-wrap .btn-verify2 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 80px;
  height: 32px;
  border-radius: 16px;
  color: #d9d9d9;
  font-size: 12px;
  background-color: #f6f6f6;
}

.btnbox {
  text-align: right;
}
.btnbox .btn-prev-w,
.btnbox .btn-next-b {
  width: 120px;
  height: 40px;
  line-height: 42px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 14px;
}
.btnbox .btn-prev-w {
  color: #57576d;
  border: 1px solid #c9cad5;
  margin-right: 10px;
  background-color: #fff;
}
.btnbox .btn-next-b {
  color: #fff;
  background-color: #1d1d4c;
}

.container-popup {
  position: relative;
  min-height: 1000px;
  background-color: #d9d9d9;
}
.container-popup .pop-wrap {
  position: fixed;
  top: 250px;
  left: 50%;
  width: 540px;
  margin-left: -270px;
  padding: 30px 40px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(15, 15, 21, 0.05);
}
.container-popup .pop-wrap::before {
  content: "";
  clear: both;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  background: url(../images/popup-icon.png) no-repeat 0 0;
}
.container-popup .pop-txt {
  display: block;
  font-size: 18px;
  color: #0f0f15;
  padding: 20px 0;
}
.container-popup .pop-txt-s {
  display: inline-block;
  font-size: 14px;
  color: #57576d;
  padding-bottom: 20px;
}

.btnbox {
  text-align: right;
}
.btnbox .btn-prev-w,
.btnbox .btn-next-b {
  width: 120px;
  height: 40px;
  line-height: 42px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 14px;
}
.btnbox .btn-prev-w {
  color: #57576d;
  border: 1px solid #c9cad5;
  margin-right: 10px;
  background-color: #fff;
}
.btnbox .btn-next-b {
  color: #fff;
  background-color: #1d1d4c;
}

.close-btn {
  position: absolute;
  top: 30px;
  right: 40px;
}

.myclass-list {
  background-color: #f4f5f6;
}
.myclass-list .wrapper-header {
  width: 100%;
  background-color: #1d1d4c;
}
.myclass-list .wrapper-header .header-inner {
  width: 1020px;
  margin: 0 auto;
}
.myclass-list .wrapper-header .header-inner .list-wrap {
  text-align: right;
}
.myclass-list .wrapper-header .header-inner .list-wrap .header-list {
  vertical-align: middle;
  display: inline-block;
  line-height: 40px;
}
.myclass-list .wrapper-header .header-inner .list-wrap .header-list li {
  float: left;
  color: #fff;
  opacity: 0.8;
  font-size: 14px;
  padding: 0 20px;
  text-align: center;
}
.myclass-list .wrapper-header .header-inner .list-wrap .header-list .active {
  color: #fff;
  opacity: 1;
}
.myclass-list .wrapper-header .header-inner .list-wrap .header-list2 {
  vertical-align: middle;
  display: inline-block;
  margin-left: 30px;
}
.myclass-list .wrapper-header .header-inner .list-wrap .header-list2 li {
  float: left;
  padding: 0 10px;
  line-height: 35px;
}
.myclass-list .wrapper-header .header-inner .list-wrap .header-list2 .arrow-down {
  margin-top: 10px;
  display: inline-block;
}
.myclass-list .con-size {
  margin-top: 140px;
}
.myclass-list .con-size .text-group {
  position: relative;
  width: 1020px;
  margin: 0 auto;
  padding: 30px 0 80px 0;
  font-size: 16px;
}
.myclass-list .con-size .text-group > h2 {
  padding-bottom: 30px;
  line-height: 35px;
  font-size: 26px;
}
.myclass-list .con-size .text-group > p {
  color: #57576d;
}
.myclass-list .con-size .text-group:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 390px;
  height: 402px;
  background: url(../images/illust-welcome.png) no-repeat 0 0;
}

.class-group {
  width: 1040px;
  margin: 0 auto;
  position: relative;
}
.class-group .myclass {
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  padding: 15px;
}
.class-group .updated-txt {
  width: 160px;
  height: 40px;
  line-height: 42px;
  padding-left: 20px;
  font-size: 14px;
  color: #57576d;
  border-radius: 19px;
  box-shadow: 0 0 10px 0 rgba(15, 15, 21, 0.05);
  background-color: #fff;
}
.class-group .updated-txt::after {
  content: "";
  clear: both;
  display: inline-block;
  width: 40px;
  height: 20px;
  background: url(../images/arrowdown.png) no-repeat 8px 2px;
}
.class-group .class-g-list {
  overflow: hidden;
  margin-bottom: 430px;
}
.class-group .class-g-list .new-class {
  text-align: center;
  margin: 10px;
  float: left;
  text-align: center;
  width: 240px;
  padding: 84px 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(15, 15, 21, 0.05);
}
.class-group .class-g-list .new-class::before {
  content: "";
  clear: both;
  display: block;
  margin: 0 auto 10px auto;
  width: 80px;
  height: 80px;
  background: url(../images/class.png) no-repeat 0 0;
}
.class-group .class-g-list .new-class .new-class-txt {
  color: #c9cad5;
  font-size: 16px;
}
.class-group .class-g-list .classes {
  text-align: center;
  margin: 10px;
  float: left;
  text-align: center;
  width: 240px;
  padding: 40px 30px 25px 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(15, 15, 21, 0.05);
}
.class-group .class-g-list .classes a {
  display: block;
}
.class-group .class-g-list .classes a::before {
  content: "";
  clear: both;
  display: block;
  margin: 0 auto 20px auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: url(../images/bg-icon.png) no-repeat 0 0;
}
.class-group .class-g-list .classes .class-txt .txt-p {
  font-weight: 500;
  font-size: 16px;
  color: #0f0f15;
}
.class-group .class-g-list .classes .class-txt > strong {
  font-size: 14px;
  display: block;
  color: #848499;
  padding: 5px 0 10px 0;
  font-weight: 500;
}
.class-group .class-g-list .classes .class-txt > span {
  font-size: 12px;
  color: #848499;
  padding: 8px;
}
.class-group .class-g-list .classes .class-txt .dot {
  position: relative;
}
.class-group .class-g-list .classes .class-txt .dot:before {
  content: "";
  clear: both;
  position: absolute;
  top: 13px;
  left: -2px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #57576d;
}
.class-group .class-g-list .classes .updated {
  width: 180px;
  text-align: left;
  margin: 40px auto 0 auto;
  padding-top: 8px;
  padding-left: 15px;
  position: relative;
  color: #57576d;
}
.class-group .class-g-list .classes .updated .reddot {
  position: relative;
}
.class-group .class-g-list .classes .updated .reddot:after {
  position: absolute;
  top: 5px;
  left: -10px;
  content: "";
  clear: both;
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #ff4d4d;
  border-radius: 50%;
}
.class-group .class-g-list .classes .updated::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  clear: both;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(../images/btn-round.png) no-repeat 0 0;
}

.box-group li a.image-on1 {
  background: url(../images/school-on.png) no-repeat 53px 15px;
  color: #0f0f15;
  font-weight: 500;
}

.box-group .bd-373749 {
  border-radius: 5px;
  border: 1.5px solid #373749;
}

.serch-box {
  width: 600px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 53px;
}
.serch-box .search-txt1 {
  font-size: 14px;
  color: #57576d;
  font-weight: 500;
}
.serch-box .search-txt1 .search-txt2 {
  width: 390px;
  border-bottom: 1px solid #c9cad5;
  font-size: 14px;
  font-weight: 400;
  margin-left: 65px;
  padding: 10px 0 10px 0;
  color: #848499;
  line-height: 20px;
}
.serch-box .search-txt1 .search-txt2::-moz-placeholder {
  color: #848499;
}
.serch-box .search-txt1 .search-txt2:-ms-input-placeholder {
  color: #848499;
}
.serch-box .search-txt1 .search-txt2::-webkit-input-placeholder {
  color: #848499;
}
.serch-box .search-btn {
  color: #1d1d1d;
  font-size: 12px;
  font-weight: 500;
  width: 80px;
  height: 32px;
  border-radius: 16px;
  background-color: #f6f6f6;
  margin-bottom: -10px;
}

.box-group li a.image-on2 {
  background: url(../images/institute-on.png) no-repeat 53px 15px;
  color: #0f0f15;
  font-weight: 500;
}

.box-group li a.image-on3 {
  background: url(../images/group-on.png) no-repeat 53px 15px;
  color: #0f0f15;
  font-weight: 500;
}

.newclass {
  background-color: #f4f5f6;
}
.newclass .wrapper-header {
  width: 100%;
  padding: 10px 0;
  background-color: #1d1d4c;
}
.newclass .wrapper-header .header-inner {
  width: 1020px;
  margin: 0 auto;
}
.newclass .wrapper-header .header-inner .list-wrap {
  text-align: right;
}
.newclass .wrapper-header .header-inner .list-wrap .header-list {
  vertical-align: middle;
  display: inline-block;
  line-height: 40px;
}
.newclass .wrapper-header .header-inner .list-wrap .header-list li {
  float: left;
  color: #fff;
  opacity: 0.8;
  font-size: 14px;
  padding: 0 20px;
  text-align: center;
}
.newclass .wrapper-header .header-inner .list-wrap .header-list2 {
  vertical-align: middle;
  display: inline-block;
  margin-left: 30px;
}
.newclass .wrapper-header .header-inner .list-wrap .header-list2 li {
  float: left;
  padding: 0 10px;
  line-height: 35px;
}
.newclass .wrapper-header .header-inner .list-wrap .header-list2 .arrow-down {
  margin-top: 10px;
  display: inline-block;
}
.newclass .contents {
  margin: 40px 0 70px 0;
}

.inform-box {
  display: inline-block;
  position: relative;
  padding: 35px 45px;
}
.inform-box .inform-list {
  font-size: 14px;
  color: #57576d;
  padding-bottom: 30px;
}
.inform-box .inform-list .txt-500 {
  font-weight: 500;
  display: inline-block;
  color: #57576d;
}
.inform-box .inform-txt {
  width: 390px;
  border-bottom: 1px solid #c9cad5;
  font-size: 14px;
  font-weight: 400;
  margin-left: 65px;
  padding: 10px 0 10px 0;
}
.inform-box .inform-txt::-moz-placeholder {
  color: #f4f5f6;
}
.inform-box .inform-txt:-ms-input-placeholder {
  color: #f4f5f6;
}
.inform-box .inform-txt::-webkit-input-placeholder {
  color: #f4f5f6;
}
.inform-box .select-box {
  width: 390px;
  border-radius: 0px;
  -webkit-appearance: none;
  color: #373749;
  padding: 10px 0 8px 0;
  font-size: 14px;
  font-weight: 400;
  margin-left: 40px;
  border-bottom: 1px solid #c9cad5;
  background-color: #fff;
}
.inform-box .select-arrow {
  position: absolute;
  top: 115px;
  right: 50px;
  width: 24px;
  height: 24px;
  background: url(../images/arrowdown.png) no-repeat 0 0;
}
.inform-box .bg-notice {
  position: relative;
  padding-right: 25px;
}
.inform-box .bg-notice:after {
  content: "";
  clear: both;
  display: inline-block;
  position: absolute;
  top: 2px;
  right: 0;
  width: 15px;
  height: 15px;
  background: url(../images/notice.png) no-repeat 0 0;
}
.inform-box .radio-box {
  padding: 10px 0;
  display: inline-block;
  margin-left: 50px;
}

.card-bg::after {
  content: "";
  clear: both;
  display: block;
  width: 240px;
  height: 232px;
  background: url(../images/illust-welcome-small.png) no-repeat 0 0;
  margin: 20px auto;
}
.card-bg .complete-txt {
  font-size: 18px;
  font-weight: 500;
}

.classpage {
  background-color: #f4f5f6;
}
.classpage .wrapper-header {
  width: 100%;
  padding: 10px 0;
  background-color: #fff;
}
.classpage .wrapper-header .header-inner {
  width: 1020px;
  margin: 0 auto;
}
.classpage .wrapper-header .header-inner .list-wrap {
  display: inline-block;
  width: 650px;
  text-align: right;
}
.classpage .wrapper-header .header-inner .list-wrap .header-list {
  vertical-align: middle;
  display: inline-block;
  line-height: 40px;
}
.classpage .wrapper-header .header-inner .list-wrap .header-list li {
  float: left;
  color: #0f0f15;
  opacity: 0.8;
  font-size: 14px;
  padding: 0 20px;
  text-align: center;
}
.classpage .wrapper-header .header-inner .list-wrap .header-list2 {
  vertical-align: middle;
  display: inline-block;
  margin-left: 30px;
}
.classpage .wrapper-header .header-inner .list-wrap .header-list2 li {
  float: left;
  padding: 0 10px;
  line-height: 35px;
}
.classpage .wrapper-header .header-inner .list-wrap .header-list2 .arrow-down {
  margin-top: 10px;
  display: inline-block;
}
.classpage .con-size {
  width: 880px;
  margin: 0 auto 150px auto;
}
.classpage .con-size .left-group {
  float: left;
}
.classpage .con-size .left-group .left-box {
  position: relative;
  text-align: center;
  padding: 35px 20px 28px 20px;
  width: 260px;
  margin-top: 20px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 10px 0 rgba(15, 15, 21, 0.05);
  background-color: #ffffff;
}
.classpage .con-size .left-group .left-box:before {
  content: "";
  clear: both;
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  background: url(../images/bg-icon.png) no-repeat 0 0;
}
.classpage .con-size .left-group .left-box .left-maintxt {
  display: inline-block;
  padding-top: 20px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #0f0f15;
}
.classpage .con-size .left-group .left-box > p {
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 13px;
  color: #848499;
}
.classpage .con-size .left-group .left-box .camera-img {
  position: absolute;
  top: 82px;
  right: 90px;
}
.classpage .con-size .left-group .left-box > span {
  padding: 0 7px;
  font-size: 12px;
  color: #848499;
}
.classpage .con-size .left-group .left-box .dot {
  position: relative;
}
.classpage .con-size .left-group .left-box .dot:before {
  content: "";
  clear: both;
  position: absolute;
  top: 6px;
  left: -2px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #57576d;
}
.classpage .con-size .left-group .left-box .txt-bold {
  font-size: 12px;
  font-weight: 500;
  color: #0f0f15;
}
.classpage .con-size .left-group .left-box .txt-bold .img-pd {
  padding-bottom: 2px;
}
.classpage .con-size .left-group .left-box .hashtag {
  font-size: 12px;
  color: #57576d;
  padding: 23px 0 20px 0;
}
.classpage .con-size .left-group .left-box .btn-like {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  border: solid 1px #c9cad5;
  background-color: #ffffff;
  color: #ff4d4d;
  font-weight: 500;
  position: relative;
  padding-left: 15px;
}
.classpage .con-size .left-group .left-box .btn-like::before {
  position: absolute;
  top: 10px;
  left: 25px;
  content: "";
  clear: both;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/heart.png) no-repeat 0 0;
}
.classpage .con-size .left-group .class-box {
  width: 260px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 10px 0 rgba(15, 15, 21, 0.05);
  background-color: #fff;
}
.classpage .con-size .left-group .class-box .active-grey {
  font-size: 14px;
  font-weight: 500;
  color: #0f0f15;
  padding: 15px 0 15px 70px;
  position: relative;
  background-color: #f4f5f6;
}
.classpage .con-size .left-group .class-box .active-grey:after {
  content: "";
  clear: both;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 50px;
  background: url(../images/classhome.png) no-repeat 30px 12px;
}
.classpage .con-size .left-group .class-box .class-list li {
  padding: 15px 0 15px 70px;
  position: relative;
  font-size: 14px;
}
.classpage .con-size .left-group .class-box .class-list li a {
  display: block;
  color: #57576d;
}
.classpage .con-size .left-group .class-box .class-list li a:after {
  content: "";
  clear: both;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 50px;
  background: url(../images/classnote.png) no-repeat 30px 12px;
}
.classpage .con-size .right-group {
  width: 600px;
  float: right;
}
.classpage .con-size .right-group h3 {
  font-size: 18px;
  padding: 35px 20px 20px 20px;
}
.classpage .con-size .right-group .notice-list {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  color: #0f0f15;
  padding: 13px 48px;
  border-radius: 5px;
  background-color: #ffffff;
}
.classpage .con-size .right-group .notice-list:after {
  content: "";
  clear: both;
  display: block;
  position: absolute;
  top: 14px;
  left: 25px;
  width: 40px;
  height: 40px;
  background: url(../images/notice2.png) no-repeat 0 0;
}
.classpage .con-size .right-group .notice-list > span {
  padding-left: 10px;
  color: #57576d;
  line-height: 1.57;
}
.classpage .con-size .right-group .notice-list .arrowdown-img {
  position: absolute;
  top: 10px;
  right: 20px;
}
.classpage .con-size .right-group .notice-contents {
  position: relative;
  padding: 32px 40px 20px 75px;
  margin-top: 10px;
  width: 600px;
  border-radius: 5px;
  border: solid 1px #f4f5f6;
  background-color: #ffffff;
}
.classpage .con-size .right-group .notice-contents .notice-main-txt {
  font-size: 18px;
  font-weight: 500;
  color: #0f0f15;
}
.classpage .con-size .right-group .notice-contents .notice-main-txt:before {
  content: "";
  clear: both;
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(../images/date-round.png) no-repeat 0 0;
  position: absolute;
  top: 29px;
  left: 30px;
}
.classpage .con-size .right-group .notice-contents .more {
  position: absolute;
  top: 30px;
  right: 40px;
}
.classpage .con-size .right-group .notice-contents .more a {
  margin-left: 20px;
}
.classpage .con-size .right-group .notice-contents .notice-txt {
  padding: 10px 20px 20px 25px;
  position: relative;
}
.classpage .con-size .right-group .notice-contents .notice-txt > span {
  font-size: 14px;
  display: block;
}
.classpage .con-size .right-group .notice-contents .notice-txt > span:before {
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 0;
  width: 18px;
  height: 19px;
  content: "";
  clear: both;
  background: url(../images/star.png) no-repeat 0 0;
}
.classpage .con-size .right-group .notice-contents .notice-txt .time-txt {
  position: relative;
  color: #57576d;
  padding-left: 15px;
}
.classpage .con-size .right-group .notice-contents .notice-txt .time-txt:before {
  content: "";
  clear: both;
  position: absolute;
  top: 6px;
  left: 6px;
  display: inline-block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #57576d;
}
.classpage .con-size .right-group .notice-contents .contents-txt {
  padding-bottom: 7px;
  font-size: 14px;
  font-weight: 400;
  color: #57576d;
  line-height: 1.57;
}
.classpage .con-size .right-group .notice-contents .image-wrap a {
  float: left;
}
.classpage .con-size .right-group .notice-contents .image-wrap a .pic1 {
  width: 238px;
  height: 310px;
  margin-right: 10px;
  margin-left: -1px;
}
.classpage .con-size .right-group .notice-contents .image-wrap a .pic2 {
  width: 236px;
  height: 150px;
  margin-bottom: 10px;
}
.classpage .con-size .right-group .notice-contents .link-wrap > span {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  padding: 14px;
  margin: 10px 10px 0 0;
  border-radius: 5px;
  border: solid 1px #c9cad5;
  background-color: #ffffff;
}
.classpage .con-size .right-group .notice-contents .link-wrap > span .pd-left {
  position: relative;
  padding: 0 10px 0 30px;
}
.classpage .con-size .right-group .notice-contents .link-wrap > span .pd-left:after {
  position: absolute;
  top: -4px;
  left: 0;
  content: "";
  clear: both;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../images/pic7.png) no-repeat;
}
.classpage .con-size .right-group .notice-contents .link-wrap > span .pd-left2 {
  position: relative;
  padding: 0 10px 0 30px;
}
.classpage .con-size .right-group .notice-contents .link-wrap > span .pd-left2:after {
  position: absolute;
  top: -4px;
  left: 0;
  content: "";
  clear: both;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../images/pic6.png) no-repeat;
}
.classpage .con-size .right-group .notice-contents .txt-wrap {
  padding: 20px 0 10px 0;
}
.classpage .con-size .right-group .notice-contents .txt-wrap .txt-left {
  font-size: 14px;
  color: #c9cad5;
}

.right-group-1 h3 {
  font-size: 18px;
  padding: 35px 20px 20px 20px;
}
.right-group-1 .notice-list-1 {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  color: #0f0f15;
  padding: 13px 48px;
  border-radius: 5px 5px 0px 0px;
  background-color: #fff;
}
.right-group-1 .notice-list-1:after {
  content: "";
  clear: both;
  display: block;
  position: absolute;
  top: 14px;
  left: 25px;
  width: 40px;
  height: 40px;
  background: url(../images/notice2.png) no-repeat 0 0;
}
.right-group-1 .notice-list-1 > span {
  padding-left: 10px;
  color: #57576d;
  line-height: 1.57;
}
.right-group-1 .notice-list-1 .arrowdown-img {
  position: absolute;
  top: 10px;
  right: 20px;
}
.right-group-1 .conbox {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  color: #0f0f15;
  padding: 14px 20px 14px 40px;
  background-color: #ffffff;
  border-top: 1px solid #f4f5f6;
}
.right-group-1 .conbox > p {
  font-size: 14px;
  color: #0f0f15;
}
.right-group-1 .conbox > span {
  font-size: 12px;
  padding-left: 22px;
}
.right-group-1 .conbox .bg-star {
  position: relative;
}
.right-group-1 .conbox .bg-star:before {
  display: inline-block;
  position: absolute;
  top: -4px;
  left: -2px;
  width: 18px;
  height: 19px;
  content: "";
  clear: both;
  background: url(../images/star.png) no-repeat 0 0;
}
.right-group-1 .conbox .bg-crown {
  position: relative;
}
.right-group-1 .conbox .bg-crown:after {
  display: inline-block;
  position: absolute;
  top: -3px;
  left: -1px;
  width: 18px;
  height: 19px;
  content: "";
  clear: both;
  background: url(../images/bg-crown.png) no-repeat 0 0;
}
.right-group-1 .conbox .more {
  position: absolute;
  top: 25px;
  right: 25px;
}
.right-group-1 .conbox .more > a {
  padding-left: 20px;
}
.right-group-1 .conbox .time-txt {
  position: relative;
  color: #57576d;
  padding-left: 15px;
}
.right-group-1 .conbox .time-txt:before {
  content: "";
  clear: both;
  position: absolute;
  top: 6px;
  left: 6px;
  display: inline-block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #57576d;
}

.right-group .yellow-dot:after {
  content: "";
  clear: both;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ffd100;
  border-radius: 50%;
  margin: 0 0 3px 8px;
}
.right-group .scdimg-mt {
  margin-top: 18px;
}

.all-notice {
  background-color: #f4f5f6;
}
.all-notice .wrapper-header {
  width: 100%;
  padding: 10px 0;
  background-color: #1d1d4c;
}
.all-notice .wrapper-header .header-inner {
  width: 1020px;
  margin: 0 auto;
}
.all-notice .wrapper-header .header-inner .list-wrap {
  text-align: right;
}
.all-notice .wrapper-header .header-inner .list-wrap .header-list {
  vertical-align: middle;
  display: inline-block;
  line-height: 40px;
}
.all-notice .wrapper-header .header-inner .list-wrap .header-list li {
  float: left;
  color: #fff;
  opacity: 0.8;
  font-size: 14px;
  padding: 0 20px;
  text-align: center;
}
.all-notice .wrapper-header .header-inner .list-wrap .header-list .active {
  color: #fff;
  opacity: 1;
}
.all-notice .wrapper-header .header-inner .list-wrap .header-list2 {
  vertical-align: middle;
  display: inline-block;
  margin-left: 30px;
}
.all-notice .wrapper-header .header-inner .list-wrap .header-list2 li {
  float: left;
  padding: 0 10px;
  line-height: 35px;
}
.all-notice .wrapper-header .header-inner .list-wrap .header-list2 .arrow-down {
  margin-top: 10px;
  display: inline-block;
}
.all-notice .con-size .text-group {
  position: relative;
  width: 1020px;
  margin: 0 auto;
  padding: 30px 0 80px 0;
  font-size: 16px;
}
.all-notice .con-size .text-group h2 {
  padding-bottom: 30px;
  line-height: 35px;
  font-size: 26px;
}
.all-notice .con-size .text-group p {
  color: #57576d;
}
.all-notice .con-size .text-group .main-txt {
  margin-bottom: 20px;
}
.all-notice .con-size .text-group:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 390px;
  height: 402px;
  background: url(../images/illust-welcome.png) no-repeat 0 0;
}

.all-notice .con-size {
  width: 920px;
  margin: 0 auto 150px auto;
}
.all-notice .con-size .left-group {
  float: left;
  width: 300px;
}
.all-notice .con-size .left-group h3 {
  font-size: 16px;
  color: #0f0f15;
  padding: 20px 30px;
  background-color: #fff;
}
.all-notice .con-size .left-group .class-box {
  overflow-y: scroll;
  width: 300px;
  height: 280px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(15, 15, 21, 0.05);
  background-color: #fff;
}
.all-notice .con-size .left-group .class-box .active-grey {
  font-size: 14px;
  font-weight: 500;
  color: #0f0f15;
  padding: 20px 0 20px 70px;
  position: relative;
  background-color: #f4f5f6;
}
.all-notice .con-size .left-group .class-box .active-grey a:after {
  content: "";
  clear: both;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 50px;
  background: url(../images/profile-class.png) no-repeat 28px 15px;
}
.all-notice .con-size .left-group .class-box .class-list li {
  padding: 20px 0 20px 70px;
  position: relative;
  font-size: 14px;
}
.all-notice .con-size .left-group .class-box .class-list li a {
  display: block;
}
.all-notice .con-size .left-group .class-box .class-list li a:after {
  content: "";
  clear: both;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 50px;
  background: url(../images/profile-class.png) no-repeat 28px 13px;
}
.all-notice .con-size .right-group {
  width: 602px;
  float: right;
}
.all-notice .con-size .right-group h3 {
  color: #0f0f15;
  font-size: 18px;
  padding: 14px 20px 14px 20px;
}
.all-notice .con-size .right-group > p {
  position: relative;
  width: 600px;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  color: #57576d;
  padding: 13px 48px;
  border-radius: 5px;
  border: solid 1px #f4f5f6;
  background-color: #ffffff;
}
.all-notice .con-size .right-group > p:after {
  content: "";
  clear: both;
  display: block;
  position: absolute;
  top: 13px;
  left: 15px;
  width: 40px;
  height: 40px;
  background: url(../images/pic8.png) no-repeat 0 0;
}
.all-notice .con-size .right-group .notice-contents {
  position: relative;
  padding: 30px 40px;
  margin-top: 10px;
  width: 600px;
  border-radius: 5px;
  border: solid 1px #f4f5f6;
  background-color: #ffffff;
}
.all-notice .con-size .right-group .notice-contents .notice-main-txt {
  padding-left: 30px;
  font-size: 18px;
  font-weight: 500;
  color: #0f0f15;
}
.all-notice .con-size .right-group .notice-contents .more {
  position: absolute;
  top: 30px;
  right: 40px;
}
.all-notice .con-size .right-group .notice-contents .more a {
  margin-left: 20px;
}
.all-notice .con-size .right-group .notice-contents .notice-txt {
  padding: 20px 20px 20px 40px;
  position: relative;
}
.all-notice .con-size .right-group .notice-contents .notice-txt > span {
  display: block;
}
.all-notice .con-size .right-group .notice-contents .notice-txt > span:before {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 15px;
  height: 15px;
  content: "";
  clear: both;
  background: url(../images/star.png) no-repeat 0 0;
}
.all-notice .con-size .right-group .notice-contents .notice-txt > span .time-txt {
  position: relative;
  color: #57576d;
  padding-left: 15px;
}
.all-notice .con-size .right-group .notice-contents .notice-txt > span .time-txt:before {
  content: "";
  clear: both;
  position: absolute;
  top: 6px;
  left: 6px;
  display: inline-block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #57576d;
}
.all-notice .con-size .right-group .notice-contents .contents-txt {
  padding-bottom: 7px;
  font-size: 14px;
  font-weight: 400;
  color: #57576d;
  line-height: 1.57;
}
.all-notice .con-size .right-group .notice-contents .main-red {
  font-size: 14px;
  font-weight: 500;
  margin-top: 28px;
  display: inline-block;
}
.all-notice .con-size .right-group .notice-contents .image-wrap a {
  float: left;
}
.all-notice .con-size .right-group .notice-contents .image-wrap a .pic1 {
  margin-right: 10px;
  margin-left: -2px;
}
.all-notice .con-size .right-group .notice-contents .image-wrap a .pic2 {
  margin-bottom: 10px;
}
.all-notice .con-size .right-group .notice-contents .link-wrap > span {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  padding: 14px;
  margin: 10px 10px 0 0;
  border-radius: 5px;
  border: solid 1px #c9cad5;
  background-color: #ffffff;
}
.all-notice .con-size .right-group .notice-contents .link-wrap > span .pd-left {
  position: relative;
  padding: 0 10px 0 30px;
}
.all-notice .con-size .right-group .notice-contents .link-wrap > span .pd-left:after {
  position: absolute;
  top: -4px;
  left: 0;
  content: "";
  clear: both;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../images/pic7.png) no-repeat;
}
.all-notice .con-size .right-group .notice-contents .link-wrap > span .pd-left2 {
  position: relative;
  padding: 0 10px 0 30px;
}
.all-notice .con-size .right-group .notice-contents .link-wrap > span .pd-left2:after {
  position: absolute;
  top: -4px;
  left: 0;
  content: "";
  clear: both;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../images/pic6.png) no-repeat;
}
.all-notice .con-size .right-group .notice-contents .link-wrap .vote-txt {
  width: 520px;
  font-size: 16px;
}
.all-notice .con-size .right-group .notice-contents .link-wrap .date-txt {
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: #848499;
  padding: 10px 0 0 30px;
}
.all-notice .con-size .right-group .notice-contents .txt-wrap {
  padding: 20px 0 10px 0;
}
.all-notice .con-size .right-group .notice-contents .txt-wrap .txt-left {
  font-size: 14px;
  color: #c9cad5;
}
.all-notice .con-size .right-group .notice-contents .txt-wrap .txt-right {
  font-size: 14px;
}

.link-last-wrap {
  overflow: hidden;
  width: 520px;
  height: 130px;
  border-radius: 5px;
  border: solid 1px #c9cad5;
  background-color: #ffffff;
}
.link-last-wrap a {
  display: block;
}

.txt-box {
  padding: 20px;
  width: 350px;
  display: inline-block;
}

.txt-main {
  font-size: 14px;
  font-weight: 500;
  color: #0f0f15;
}

.txt-contents {
  color: #57576d;
  font-size: 12px;
  padding: 10px 0;
  display: inline-block;
}

.txt-add {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  color: #0f0f15;
  font-size: 12px;
  line-height: 20px;
}
.txt-add:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  clear: both;
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../images/pic9.png) no-repeat 0 0;
}

.after-line:after {
  content: "|";
  clear: both;
  display: inline-block;
  padding: 0 8px 0 10px;
}

.location {
  font-size: 12px;
  color: #57576d;
  line-height: 42px;
  width: 100%;
  height: 40px;
  background-color: #fff;
}
.location .lo-list {
  width: 1040px;
  margin: 0 auto;
}
.location .lo-list li:first-child {
  background: none;
  padding-left: 10px;
}
.location .lo-list li {
  display: inline-block;
  padding-left: 24px;
  background: url(../images/arrow-right-small.png) no-repeat 2px 11px;
}

.box-group {
  margin: 0 auto;
  border-spacing: 15px;
  display: table;
}
.box-group li {
  display: table-cell;
  width: 190px;
  border-radius: 5px;
  border: solid 1px #c9cad5;
}
.box-group li a {
  display: block;
  padding-top: 110px;
  font-size: 16px;
  color: #848499;
  margin: 0 0 10px 0;
}

.box-group li a.classimage1 {
  background: url(../images/school.png) no-repeat 53px 15px;
}

.box-group li a.classimage2 {
  background: url(../images/institute.png) no-repeat 53px 15px;
}

.box-group li a.classimage3 {
  background: url(../images/group.png) no-repeat 53px 15px;
}

.pd-box {
  padding-bottom: 90px;
}

.txt-left2 {
  font-size: 14px;
  color: #0f0f15;
  text-align: left;
  padding: 0 0 10px 15px;
}

.schedule-box {
  width: 300px;
  padding: 20px 30px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(15, 15, 21, 0.05);
  background-color: #ffffff;
}

.right-group .scd-txt {
  display: inline-block;
  font-size: 18px;
  padding: 14px 20px 24px 20px;
}
.right-group .scd-img {
  display: block;
  float: right;
}
.right-group .scd-contents {
  margin-top: 10px;
  width: 600px;
  border-radius: 5px;
  border: solid 1px #f4f5f6;
  background-color: #ffffff;
}
.right-group .scd-contents .scd-con1 {
  padding: 20px;
}
.right-group .scd-contents .scd-con1 .btn-prev {
  margin-right: 10px;
}
.right-group .scd-contents .date-txt {
  font-size: 18px;
  font-weight: 500;
  vertical-align: middle;
  padding-left: 20px;
}
.right-group .scd-contents .round-btn-wrap {
  float: right;
}
.right-group .scd-contents .round-btn {
  display: inline-block;
  width: 80px;
  height: 32px;
  line-height: 34px;
  font-size: 12px;
  font-weight: 500;
  color: #373749;
  text-align: center;
  border-radius: 20px;
  background-color: #f4f5f6;
}
.right-group .scd-contents .round-select {
  display: inline-block;
}
.right-group .scd-contents .round-select .select-list {
  width: 80px;
  height: 32px;
  line-height: 34px;
  font-size: 12px;
  font-weight: 500;
  color: #57576d;
  padding-left: 17px;
  border-radius: 20px;
  background-color: #fff;
  -webkit-appearance: none;
  border: solid 1px #c9cad5;
  margin-left: 10px;
}
.right-group .scd-contents .round-select .bg-arrow {
  background: url(../images/arrow-down-w.png) no-repeat 50px 9px;
}
.right-group .scd-con2 {
  border-top: 1px solid #f4f5f6;
  padding: 20px;
}

/*# sourceMappingURL=main.css.map */
